---
// const calendar: {} = {
//   '06.02.2026': {'12:00 - 19:00': false},
//   '09.02.2026': {'12:00 - 19:00': false},
//   '10.02.2026': {'12:00 - 19:00': false},
//   '11.02.2026': {'12:00 - 19:00': false},
//   '12.02.2026': {'12:00 - 19:00': false},
//   '13.02.2026': {'12:00 - 19:00': false},
//   '16.02.2026': {'12:00 - 19:00': false},
//   '17.02.2026': {'12:00 - 19:00': false},
//   '18.02.2026': {'12:00 - 19:00': false},
//   '19.02.2026': {'12:00 - 19:00': false},
//   '20.02.2026': {'12:00 - 19:00': false},
//   '24.02.2026': {'12:00 - 19:00': false},
//   '25.02.2026': {'12:00 - 19:00': false},
//   '26.02.2026': {'12:00 - 19:00': false},
//   '27.02.2026': {'12:00 - 19:00': false},
// };
// const times: {} = {
//   '12:00 - 19:00': '',
// };

const calendar: {} = {
  '06.02.2026': {'17:00 - 24:00': false, '11:00 - 19:00': false},
  '07.02.2026': {'11:00 - 19:00': false},
  '09.02.2026': {'17:00 - 24:00': false},
};
const times: {} = {
  '11:00 - 19:00': 'msk.geojson',
  '17:00 - 24:00': 'msk-evening.geojson',
};

// const calendar: {} = {};
// const times: {} = {};

const session: {
  address: string,
  housing: string,
  entrance: string,
  apartment: string,
  date: string,
  time: string,
} = {
  address: 'address',
  housing: '',
  entrance: '',
  apartment: '',
  date: '06.02.2026',
  time: '11:00 - 19:00',
};
---

<section class="order-delivery-5" hidden>
  <link rel="stylesheet" href="./components/deliveries/5/styles.css"/>

  <form action="/api-order-delivery-courier" novalidate data-form-order-delivery-courier
        data-calendar={JSON.stringify(calendar)}
        data-times={JSON.stringify(times)}
        data-session={JSON.stringify(session)}>

    {'{}' === JSON.stringify(calendar) && '{}' !== JSON.stringify(times) && (
      <div class="alert" data-alert-dates>Нет свободного курьера.</div>
    )}

    {('{}' === JSON.stringify(times) || '{}' !== JSON.stringify(calendar) && '{}' !== JSON.stringify(times)) && (
      <label for="address" class="label">Адрес доставки (укажите точку на карте)</label>

      <div class="map-wrapper">
        <div id="map"></div>
      </div>

      <div class="address-wrapper">
        <input type="text" name="address" id="address" maxlength="256" value={session.address}
               autocorrect="off" spellcheck="false"
               class="util-form-field low input"
               data-input-courier-address
               placeholder="Ленина, д. 23"/>
        <button type="button" class="button" data-courier-address-clear hidden>
          <svg class="svg" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
               stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <line x1="18" y1="6" x2="6" y2="18"/>
            <line x1="6" y1="6" x2="18" y2="18"/>
          </svg>
        </button>
      </div>

      <div class="extra">
        <div class="cell">
          <label for="housing" class="label">Корпус</label>
          <input type="text" name="housing" id="housing" maxlength="256" value={session.housing}
                 autocorrect="off" spellcheck="false"
                 class="util-form-field low input"
                 data-input-courier-housing
                 placeholder="4"/>
        </div>
        <div class="cell">
          <label for="entrance" class="label">Подъезд</label>
          <input type="text" name="entrance" id="entrance" maxlength="256" value={session.entrance}
                 autocorrect="off" spellcheck="false"
                 class="util-form-field low input"
                 data-input-courier-entrance
                 placeholder="5"/>
        </div>
        <div class="cell">
          <label for="apartment" class="label">Квартира</label>
          <input type="text" name="apartment" id="apartment" maxlength="256" value={session.apartment}
                 autocorrect="off" spellcheck="false"
                 class="util-form-field low input"
                 data-input-courier-apartment
                 placeholder="6"/>
        </div>
      </div>
    )}

    {'{}' !== JSON.stringify(calendar) && '{}' !== JSON.stringify(times) && (
      <div class="alert" data-alert-address hidden>
        Недопустимый адрес, выберите другой способ доставки.
      </div>

      <div class="datetime" hidden>
        <div class="cell">
          <div class="label">Дата доставки</div>
          <div class="dates">

          </div>
          <div data-tile-sample="courier-date" hidden>
            <div class="datetime-tile date">
              <input type="radio" name="date" value="" aria-label="Дата доставки" hidden/>
              <span data-date-value></span>
              <span data-week-value></span>
            </div>
          </div>
        </div>
        <div class="cell">
          <div class="label">Время доставки</div>
          <div class="times">

          </div>
          <div data-tile-sample="courier-time" hidden>
            <div class="datetime-tile time">
              <input type="radio" name="time" value="" aria-label="Время доставки" hidden/>
              <span data-time-value></span>
            </div>
          </div>
        </div>
      </div>
    )}

    <button type="submit" hidden>Применить</button>
  </form>

  <script src="./components/deliveries/5/script.js" is:inline async></script>
</section>
