---
const calendar: {} = {
  msk: {
    '06.02.2026': {'17:00 - 24:00': false, '11:00 - 19:00': false},
    '07.02.2026': {'11:00 - 19:00': false},
    '09.02.2026': {'17:00 - 24:00': false},
  },
  spb: {
    '06.02.2026': {'12:00 - 19:00': false},
    '09.02.2026': {'12:00 - 19:00': false},
    '10.02.2026': {'12:00 - 19:00': false},
    '11.02.2026': {'12:00 - 19:00': false},
    '12.02.2026': {'12:00 - 19:00': false},
    '13.02.2026': {'12:00 - 19:00': false},
    '16.02.2026': {'12:00 - 19:00': false},
    '17.02.2026': {'12:00 - 19:00': false},
    '18.02.2026': {'12:00 - 19:00': false},
    '19.02.2026': {'12:00 - 19:00': false},
    '20.02.2026': {'12:00 - 19:00': false},
    '24.02.2026': {'12:00 - 19:00': false},
    '25.02.2026': {'12:00 - 19:00': false},
    '26.02.2026': {'12:00 - 19:00': false},
    '27.02.2026': {'12:00 - 19:00': false},
  },
};
const cityTimes: {} = {
  msk: ['11:00 - 19:00', '17:00 - 24:00'],
  spb: ['12:00 - 19:00'],
};
const cityCodes: {} = {
  msk: [
    '0000073738', // Москва
    '0000031209', // Реутов
    '0000032243', // Дзержинский
    '0000033097', // Химки
    '0000034520', // Котельники
    '0000044453', // Красногорск
    '0000045110', // Видное
    '0000046203', // Люберцы
    '140000028022', // Новокосино
    '150000028022', // Некрасовка
    '160000028022', // Бутово
    '990000000000', // Митино
  ],
  spb: [
    '0000103664',
  ],
};

const session: {} = {
  address: '',
  housing: '',
  entrance: '',
  apartment: '',
  date: '06.02.2026',
  time: '11:00 - 19:00',
};


const courier_time_1: string = '11:00 - 19:00'; // todo
const courier_time_2: string = '17:00 - 24:00'; // todo
---

<section class="order-delivery-5" hidden>
  <link rel="stylesheet" href="./components/deliveries/5/styles.css"/>

  <form action="/api-order-delivery-courier" novalidate data-form-order-delivery-courier
        data-calendar={JSON.stringify(calendar)}
        data-city-times={JSON.stringify(cityTimes)}
        data-city-codes={JSON.stringify(cityCodes)}
        data-session={JSON.stringify(session)}>
    <label for="address" class="label">Адрес доставки (укажите точку на карте)</label>

    <div class="map"></div>

    <div class="address-wrapper">
      <input name="address" id="address"
             placeholder="Ленина, д. 23"
      />
      <button type="button" data-courier-address-clear>
        <span>×</span>
      </button>
    </div>

    <div class="alert" hidden>
      Недопустимый адрес, выберите другой способ доставки.
    </div>

    <div class="extra">
      <div class="cell">
        <label for="housing" class="label">Корпус</label>
        <input name="housing" id="housing"
               placeholder="4"
        />
      </div>
      <div class="cell">
        <label for="entrance" class="label">Подъезд</label>
        <input name="entrance" id="entrance"
               placeholder="5"
        />
      </div>
      <div class="cell">
        <label for="apartment" class="label">Квартира</label>
        <input name="apartment" id="apartment"
               placeholder="6"
        />
      </div>
    </div>

    <div class="datetime" hidden>
      <div class="cell">
        <div class="label">Дата доставки</div>
        <div class="dates">

          disabled

          <div class="date">
            <input type="radio" name="date" value="05.02.2026" aria-label="Дата доставки" hidden checked={true}/>
            <span>05</span>
            <span>ЧТ</span>
          </div>
          <div class="date">
            <input type="radio" name="date" value="06.02.2026" aria-label="Дата доставки" hidden checked={false}/>
            <span>06</span>
            <span>ПТ</span>
          </div>

        </div>
        <div data-tile-sample="courier-date" hidden>
          <div class="date">
            <input type="radio" name="date" value="" aria-label="Дата доставки" hidden/>
            <span data-date-value></span>
            <span data-week-value></span>
          </div>
        </div>
      </div>
      <div class="cell">
        <div class="label">Время доставки</div>
        <div class="times">

          disabled

          <div class="time">
            <input type="radio" name="time" value="11:00 - 19:00" aria-label="Время доставки" hidden checked={true}/>
            <span>11:00 - 19:00</span>
          </div>
          <div class="time">
            <input type="radio" name="time" value="17:00 - 24:00" aria-label="Время доставки" hidden checked={false}/>
            <span>17:00 - 24:00</span>
          </div>

        </div>
        <div data-tile-sample="courier-time" hidden>
          <div class="time">
            <input type="radio" name="time" value="" aria-label="Время доставки" hidden/>
            <span data-time-value></span>
          </div>
        </div>
      </div>
    </div>

    <button type="submit" hidden>Применить</button>
  </form>

  <script src="./components/deliveries/5/script.js" is:inline async></script>
</section>
