---
import Layout from '../layouts/Layout.astro';
import UtilHeader from '../components/UtilHeader.astro';

import type {IBanner} from '../interfaces';

import data from '../pages/brands.json';

const brands: IBanner[] = data;

const title: string = 'Все бренды';
const link: string = '/brands';
---

<Layout title="Бренды" page="brands" isUser={true}>
  <link rel="stylesheet" href="./pages/brands.css"/>
  <div class="page-wrapper">
    <UtilHeader type="page" title={title}/>

    <section class="section">
      <nav class="nav-brands">
        {brands.map(({img, link, title}: IBanner) => (
          <a href={link} class="tile">
            <img src={img} alt={title} class="cover" decoding="async" loading="lazy"/>
          </a>
        ))}
      </nav>
    </section>
  </div>
</Layout>
