---
import Layout from '../layouts/Layout.astro';
import UtilHeader from '../components/UtilHeader.astro';
import UtilTile from '../components/UtilTile.astro';
import TilePosition from '../components/TilePosition.astro';

import type {ICartPosition} from '../interfaces';

import data from '../pages/cart.json';

const positions: ICartPosition[] = data;

const title: string = 'Корзина';
const link: string = '/cart';

let amountOld: number = 0;
let amountSale: number = 0;

for (const {quantity, price, priceOld}: ICartPosition of positions) {
  amountOld += priceOld * quantity;
  amountSale += (priceOld - price) * quantity;
}

const amountDelivery: number = 300;
const amountTotal: number = amountOld - amountSale + amountDelivery;
---

<Layout title="Корзина" page="cart" isUser={true}>
  <link rel="stylesheet" href="./pages/cart.css"/>
  <div class="page-wrapper">
    <UtilHeader type="page" title={title}/>

    {0 < positions.length && (
      <section class="section-positions">
        {positions.map((position: ICartPosition) => (
          <TilePosition position={position}/>
        ))}
      </section>
      <UtilTile tag="section" classList={['section-summary']}>
        <div class="row">
          <div class="left black">Стоимость товаров:</div>
          <div class="right black">
            <span data-amount-old>{amountOld.toLocaleString('ru-RU')}</span> ₽
          </div>
        </div>
        <div class="row">
          <div class="left red">Общая скидка:</div>
          <div class="right red">
            <span data-amount-sale>{amountSale.toLocaleString('ru-RU')}</span> ₽
          </div>
        </div>
        <div class="row">
          <div class="left black">Стоимость доставки:</div>
          <div class="right black">
            <span data-amount-delivery={amountDelivery}>{amountDelivery.toLocaleString('ru-RU')}</span> ₽
          </div>
        </div>
        <div class="row total">
          <div class="left black">Общая сумма заказа:</div>
          <div class="blue">
            <span data-amount-total>{amountTotal.toLocaleString('ru-RU')}</span> ₽
          </div>
        </div>
        <a href="/order" class="util-button primary button">
          <span>Перейти к оформлению</span>
        </a>
      </UtilTile>
    )}
  </div>

  {0 < positions.length && (
    <div class="checkout-wrapper" slot="page-footer">
      <div>
        <div class="bottom-old" hidden={amountTotal === amountOld}>
          <span data-bottom-old>{(amountOld + amountDelivery).toLocaleString('ru-RU')}</span>
        </div>
        <div class="bottom-total">
          <span data-bottom-total>{amountTotal.toLocaleString('ru-RU')}</span> ₽
        </div>
      </div>
      <a href="/order" class="util-button primary button">
        <span>Перейти к оформлению</span>
      </a>
    </div>
  )}
</Layout>
