---
import Layout from '../layouts/Layout.astro';
import PageTitle from '../components/PageTitle.astro';
import UtilTile from '../components/UtilTile.astro';
import SectionBreadcrumbs from '../components/SectionBreadcrumbs.astro';
import SectionFilters from '../components/SectionFilters.astro';
import SectionProducts from '../components/SectionProducts.astro';
import SectionPagination from '../components/SectionPagination.astro';

import type {IProductTile, ILink, ICatalog, IPopupFilter} from '../interfaces';

import data from '../pages/catalog-section.json';

const {name, link, sections, info}: ICatalog = data.catalog;
const products: IProductTile[] = data.products;
const lastPage: number = data.lastPage;
const currentPage: number = 1;

const breadcrumbs: ILink[] = [{link: '/catalog', name: 'Каталог'}];

for (const section of sections) {
  breadcrumbs.push(section);
}

breadcrumbs.push({link, name});

const popupFilter: IPopupFilter = {
  action: link,
  filter: data.filter,
};
---

<Layout title="Каталог" page="catalog-section" popupFilter={popupFilter} isUser={true}>
  <link rel="stylesheet" href="./pages/catalog-section.css"/>
  <div class="page-wrapper">
    <SectionBreadcrumbs pages={breadcrumbs}/>

    <PageTitle title={name}/>

    <SectionFilters/>

    <SectionProducts products={products}/>

    {1 < lastPage &&
      <SectionPagination currentPage={currentPage} lastPage={lastPage} baseLink={link}/>}

    {1 === currentPage && (
      <UtilTile tag="section" classList={['section-info', 'mt1']} isHidden={false}>
        <Fragment set:html={info}/>
      </UtilTile>
    )}
  </div>
</Layout>
