---
import Layout from '../layouts/Layout.astro';
import PageTitle from '../components/PageTitle.astro';
import UtilTile from '../components/UtilTile.astro';
import SectionBreadcrumbs from '../components/SectionBreadcrumbs.astro';
import SectionFilters from '../components/SectionFilters.astro';
import SectionProducts from '../components/SectionProducts.astro';
import SectionPagination from '../components/SectionPagination.astro';

import type {IProductTile, ILink, ICatalog, IPopupFilter, IOption} from '../interfaces';

import data from '../pages/catalog-section.json';

const catalog: ICatalog = data.catalog;
const products: IProductTile[] = data.products;
const sort: IOption[] = data.sort;

const breadcrumbs: ILink[] = [{link: '/catalog', name: 'Каталог'}];

for (const section of catalog.sections) {
  breadcrumbs.push(section);
}

breadcrumbs.push({link: catalog.link, name: catalog.name});

const popupFilter: IPopupFilter = {
  action: catalog.link,
  filter: data.filter,
};
---

<Layout title="Каталог" page="catalog-section" popupFilter={popupFilter} isUser={true}>
  <link rel="stylesheet" href="./pages/catalog-section.css"/>
  <div class="page-wrapper">
    <SectionBreadcrumbs pages={breadcrumbs}/>

    <PageTitle title={catalog.name}/>

    <SectionFilters options={sort}/>

    <SectionProducts products={products}/>

    <SectionPagination/>

    <UtilTile tag="section" classList={['section-info']} dataArray={[]} isHidden={false}>
      <Fragment set:html={catalog.info}/>
    </UtilTile>
  </div>
</Layout>
