---
import Layout from '../layouts/Layout.astro';
import SectionPageTitle from '../components/SectionPageTitle.astro';
import SectionBreadcrumbs from '../components/SectionBreadcrumbs.astro';
import TileComparisonProduct from '../components/TileComparisonProduct.astro';

import type {IComparisonProduct, IComparisonProductProperty, ILink} from '../interfaces.ts';

import data from '../pages/comparison.json';

const products: IComparisonProduct[] = data;

const title: string = 'Сравнение товаров';
const link: string = '/comparison';

const breadcrumbs: ILink[] = [{link: '/catalog', name: 'Каталог'}];
breadcrumbs.push({link, name: title});
---

<Layout title="Товары к сравнению" page="comparison" isUser={true}>
  <link rel="stylesheet" href="./pages/comparison.css"/>
  <div class="page-wrapper">
    <SectionBreadcrumbs pages={breadcrumbs}/>

    <SectionPageTitle title={title}/>

    {0 < products.length && (
      <section class="comparison-wrapper">
        <div class="remove-top">
          <button type="button" class="util-button primary button" data-remove-all data-redirect-to="/catalog">
            <span>Очистить список сравнения</span>
          </button>
        </div>

        <div class="layer">
          <div class="remove-bottom">
            <div class="product"></div>
            <div class="remove"></div>
          </div>
          {products[0].properties.map(({name}: IComparisonProductProperty) => (
            <div class="property-name-wrapper">
              <div class="name">{name}</div>
              <div class="value"></div>
            </div>
          ))}
        </div>

        <div class="slider">
          {products.map(({product, properties}: IComparisonProduct) => (
            <div class="column">
              <div class="product-wrapper">
                <TileComparisonProduct product={product}/>
                <div class="remove"></div>
              </div>
              {properties.map(({value}: IComparisonProductProperty) => (
                <div class="property-value-wrapper">
                  <div class="name"></div>
                  <div class="value">{value}</div>
                </div>
              ))}
            </div>
          ))}
        </div>
      </section>
    )}
  </div>
  <script src="./pages/comparison.js" is:inline async></script>
</Layout>
