---
import Layout from '../layouts/Layout.astro';
import SectionFilters from '../components/SectionFilters.astro';
import SectionProducts from '../components/SectionProducts.astro';
import SectionPagination from '../components/SectionPagination.astro';
import UtilHeader from '../components/UtilHeader.astro';

import type {IProductTile} from '../interfaces';

import data from '../data/favourite.json';

const title: string = data.title;
const link: string = data.link;
const products: IProductTile[] = data.products;
---

<Layout title="Избранное" page="favourite" isUser={true}>
  <link rel="stylesheet" href="./pages/favourite.css"/>
  <div class="page-wrapper">

    <UtilHeader tag="section" classList={['page-header']}>
      <h1 class="title">{title}</h1>
      <a href="/" class="button">
        <span>Назад</span>
      </a>
    </UtilHeader>

    <SectionFilters link={`${link}?`}/>

    <SectionProducts products={products}/>

    <SectionPagination/>
  </div>
</Layout>
