---
import Layout from '../layouts/Layout.astro';
import SectionFilters from '../components/SectionFilters.astro';
import SectionProducts from '../components/SectionProducts.astro';
import SectionPagination from '../components/SectionPagination.astro';
import UtilHeader from '../components/UtilHeader.astro';

import type {IPopupFilter, IProductTile} from '../interfaces';

import data from '../data/favourite.json';

const products: IProductTile[] = data.products;

const title: string = 'Избранное';
const link: string = '/favourite';
const filters: string = ''; // &...

const popupFilter: IPopupFilter = {
  action: link,
  filter: data.filter,
  maxPriceValue: 50,  // TODO from url
};
---

<Layout title="Избранное" page="favourite" popupFilter={popupFilter} isUser={true}>
  <link rel="stylesheet" href="./pages/favourite.css"/>
  <div class="page-wrapper">

    <UtilHeader tag="section" classList={['page-header']}>
      <h1 class="title">{title}</h1>
      <a href="/" class="button">
        <span>Назад</span>
      </a>
    </UtilHeader>

    <SectionFilters link={link + '?'} filters={filters}/>

    <SectionProducts products={products}/>

    <SectionPagination/>
  </div>
</Layout>
