---
import Layout from '../layouts/Layout.astro';
import SectionFilters from '../components/SectionFilters.astro';
import SectionProducts from '../components/SectionProducts.astro';
import SectionPagination from '../components/SectionPagination.astro';
import UtilHeader from '../components/UtilHeader.astro';

import type {IPopupFilter, IProductTile} from '../interfaces';

import data from '../pages/favourite.json';

const products: IProductTile[] = data.products;

const title: string = 'Избранное';
const link: string = '/favourite';

const currentPage: number = 1; // TODO pages
const lastPage: number = 1;

const popupFilter: IPopupFilter = {
  action: link,
  filter: data.filter,
};
---

<Layout title="Избранное" page="favourite" popupFilter={popupFilter} isUser={true}>
  <link rel="stylesheet" href="./pages/favourite.css"/>
  <div class="page-wrapper">

    <UtilHeader tag="section" classList={['page-header']}>
      <h1 class="title">{title}</h1>
      <a href="/" class="util-link">
        <span>Назад</span>
      </a>
    </UtilHeader>

    <SectionFilters/>

    <SectionProducts products={products}/>

    {1 < lastPage &&
      <SectionPagination currentPage={currentPage} lastPage={lastPage} baseLink={link}/>}
  </div>
</Layout>
