---
import Layout from '../layouts/Layout.astro';
import SectionFilters from '../components/SectionFilters.astro';
import SectionProducts from '../components/SectionProducts.astro';
import SectionPagination from '../components/SectionPagination.astro';
import UtilHeader from '../components/UtilHeader.astro';

import type {IOption, IPopupFilter, IProductTile} from '../interfaces';

import data from '../pages/favourite.json';

const products: IProductTile[] = data.products;
const sort: IOption[] = data.sort;

const title: string = 'Избранное';
const link: string = '/favourite';

const popupFilter: IPopupFilter = {
  action: link,
  filter: data.filter,
};
---

<Layout title="Избранное" page="favourite" popupFilter={popupFilter} isUser={true}>
  <link rel="stylesheet" href="./pages/favourite.css"/>
  <div class="page-wrapper">

    <UtilHeader tag="section" classList={['page-header']}>
      <h1 class="title">{title}</h1>
      <a href="/" class="button">
        <span>Назад</span>
      </a>
    </UtilHeader>

    <SectionFilters options={sort}/>

    <SectionProducts products={products}/>

    <SectionPagination/>
  </div>
</Layout>
