---
import Layout from '../layouts/Layout.astro';
import UtilTile from '../components/UtilTile.astro';

import type {IOrder} from '../interfaces';

import data from '../pages/finished.json';
import type {IOrderPosition} from '../interfaces.ts';

const {number, date, payment, delivery, positions}: IOrder = data;
---

<Layout title="Ваш заказ принят" page="finished" isUser={true}>
  <link rel="stylesheet" href="./pages/finished.css"/>
  <div class="page-wrapper">
    <UtilTile tag="section" classList={['section section-1']} isHidden={false}>
      <h1 class="h1">Ваш заказ {number} от {date} принят</h1>
      <p class="p">Менеджер свяжется с вами по телефону, если потребуется уточнение деталей заказа.</p>
    </UtilTile>

    <UtilTile tag="section" classList={['section section-2']} isHidden={false}>
      <h2 class="h2">{payment.type}</h2>
      <div class="payment">
        Стоимость: <strong>{`${payment.amount.toLocaleString('ru-RU')} руб.`}</strong>
      </div>
      <button type="button" class="util-button primary button" data-button-pay>
        <span>Оплатить</span>
      </button>
    </UtilTile>

    <UtilTile tag="section" classList={['section section-3']} isHidden={false}>
      <div class="row">
        <svg width="38" height="38" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg" class="svg">
          <path fill="#40B3E0"
                d="M128,0 C57.307,0 0,57.307 0,128 L0,128 C0,198.693 57.307,256 128,256 L128,256 C198.693,256 256,198.693 256,128 L256,128 C256,57.307 198.693,0 128,0 L128,0 Z"/>
          <path fill="#FFFFFF"
                d="M190.2826,73.6308 L167.4206,188.8978 C167.4206,188.8978 164.2236,196.8918 155.4306,193.0548 L102.6726,152.6068 L83.4886,143.3348 L51.1946,132.4628 C51.1946,132.4628 46.2386,130.7048 45.7586,126.8678 C45.2796,123.0308 51.3546,120.9528 51.3546,120.9528 L179.7306,70.5928 C179.7306,70.5928 190.2826,65.9568 190.2826,73.6308"/>
          <path fill="#D2E5F1"
                d="M98.6178,187.6035 C98.6178,187.6035 97.0778,187.4595 95.1588,181.3835 C93.2408,175.3085 83.4888,143.3345 83.4888,143.3345 L161.0258,94.0945 C161.0258,94.0945 165.5028,91.3765 165.3428,94.0945 C165.3428,94.0945 166.1418,94.5735 163.7438,96.8115 C161.3458,99.0505 102.8328,151.6475 102.8328,151.6475"/>
          <path fill="#B5CFE4"
                d="M122.9015,168.1154 L102.0335,187.1414 C102.0335,187.1414 100.4025,188.3794 98.6175,187.6034 L102.6135,152.2624"/>
        </svg>
        <span>Чтобы получать уведомления о статусе заказа подпишись на наш телеграм-бот</span>
      </div>
      <a href="https://t.me/airsoftrus2_bot" class="util-button primary button" target="_blank">
        <span>Подписаться</span>
      </a>
    </UtilTile>

    <UtilTile tag="section" classList={['section section-4']} isHidden={false}>
      <h2 class="h2">Доставка</h2>
      <div class="delivery">{delivery.type}:</div>
      <div class="delivery">{delivery.info}</div>
    </UtilTile>

    <UtilTile tag="section" classList={['section section-5']} isHidden={false}>
      <h2 class="h2">Состав заказа</h2>
      <div class="positions">
        {positions.map(({name, quantity, price}: IOrderPosition) => (
          <div class="position">
            <span class="left">{`${name} - ${quantity} шт.`}</span>
            <span class="right">{`${price.toLocaleString('ru-RU')} ₽`}</span>
          </div>
        ))}
        <div class="position">
          <span class="left">Стоимость доставки:</span>
          <span class="right">{`${delivery.price.toLocaleString('ru-RU')} ₽`}</span>
        </div>
        <div class="position">
          <span class="left">Итого:</span>
          <span class="amount">{`${payment.amount.toLocaleString('ru-RU')} ₽`}</span>
        </div>
      </div>
      <div class="info">
        <p class="text">Если у вас возникнут какие-либо вопросы, пожалуйста, напишите нам на электронную почту:</p>
        <a href="mailto:info@airsoft-rus.ru" class="link">info@airsoft-rus.ru</a>
      </div>
    </UtilTile>

    <UtilTile tag="section" classList={['section section-6']} isHidden={false}>
      <p class="p">
        Мы ежедневно стремимся улучшать качество обслуживания в нашем магазине, решать все вопросы оперативно и быть на
        стороне наших покупателей!
      </p>
      <p class="p">
        Поэтому если на любом этапе заказа Вы посчитаете, что работа сотрудников не на высоте, посылка не отгружается
        или Вам не отвечают длительное время, напишите на почту директору director@airsoft-rus.ru указав номер заказа
        и я лично возьму на контроль вашу ситуацию.
      </p>
    </UtilTile>
  </div>
  <script src="./pages/finished.js" is:inline async></script>
</Layout>
