---
import Layout from '../layouts/Layout.astro';

const items: {
  title: string,
  link: string,
  products: {}[],
  banner: { title: string, link: string, img: string }
}[] = [
  {
    title: 'Распродажа',
    link: '/catalog',
    products: [{}, {}, {}, {}],
    banner: {
      title: '',
      link: '/catalog',
      img: './content/index-products-banner.png',
    },
  },
  {
    title: 'Новинки',
    link: '/catalog',
    products: [{}, {}, {}, {}],
    banner: {
      title: '',
      link: '/catalog',
      img: './content/index-products-banner.png',
    },
  },
  {
    title: 'Хиты продаж',
    link: '/catalog',
    products: [{}, {}, {}, {}],
    banner: {
      title: '',
      link: '/catalog',
      img: './content/index-products-banner.png',
    },
  },
  {
    title: 'Рекомендуем',
    link: '/catalog',
    products: [{}, {}, {}, {}],
    banner: {
      title: '',
      link: '/catalog',
      img: './content/index-products-banner.png',
    },
  },
];
const news: [] = [];
const reviews: [] = [];
const brands: [] = [];
---

<Layout title="Главная" page="index" isUser={false}>
  <link rel="stylesheet" href="./pages/index.css"/>
  <div class="wrapper">
    <section class="util-tile section-info">
      <h1>AirSoft-RUS.ru — интернет магазин для страйкболиста №1 в России</h1>
      <p>
        В продаже широкий выбор страйкбольного оружия (автоматы АК и М-серий, винтовки, пулеметы, пистолеты, дробовики,
        гранатометы), снаряжения и экипировки для игр. Ассортимент от дешевых приводов для новичков до премиальных
        моделей для опытных страйкеров.
      </p>
      <p>
        Вы можете купить страйкбольные товары от 30+ брендов: Cyma, LCT, East Crane,
        Tokyo Marui, KWC, WE, Acrturus и др. Постоянное обновление ассортимента. Порадуйте себя новой покупкой или
        сделайте подарок любителю страйкбола, вручив подарочный сертификат от "синего магазина" (доступны номиналы от
        1000 до 50000 рублей).
      </p>
      <p>
        AirSoft-RUS — это не только интернет-магазин. Наши филиалы открыты в Москве,
        Екатеринбурге, Санкт-Петербурге, Краснодаре и Нижнем Новгороде. Будем рады видеть вас в шоу-румах: там можно
        лично посмотреть все наши товары для страйкбола и проконсультироваться у опытных продавцов.
      </p>
      <p>
        Оплатить заказ можно
        онлайн (с помощью банковской карты) или при получении товара (наличными и безналичным методом). Доступна
        рассрочка и покупка в кредит.
      </p>
      <p>
        Доставку снаряжения можно заказать курьером или забрать самостоятельно: из наших
        магазинов или с широкой сети пунктов выдачи партнеров. Действует бесплатная доставка в 11 городов России.
      </p>
    </section>

    <section class="section-banners">
      <a href="/catalog" class="primary-banner">
        <img src="./content/index-banners-primary.png" alt="" class="img"/>
      </a>
    </section>

    <section class="section-products">
      {items.map((item: {
        title: string,
        link: string,
        products: {}[],
        banner: { title: string, link: string, img: string }
      }) => (
        <div>
          <h2 class="title">{item.title}</h2>
          <div class="tiles">
            {item.products.map((product: {}) => (
              <div class="util-tile product"></div>
            ))}
          </div>
          <a href={item.link} class="button">
            <span>Показать всё</span>
          </a>
          <a href={item.banner.link} class="banner">
            <img src={item.banner.img} alt={item.banner.title} class="img"/>
          </a>
        </div>
      ))}
    </section>

    <section class="util-tile section-news">
      <div class="section-header">
        <h2 class="title">Актуальные новости</h2>
        <a href="/news" class="link">Смотреть все</a>
      </div>
      <div class="tiles">
        &hellip;
      </div>
    </section>

    <section class="util-tile section-reviews">
      <div class="section-header">
        <h2 class="title">Последние обзоры</h2>
        <a href="/reviews" class="link">Смотреть все</a>
      </div>
      <div class="tiles">
        &hellip;
      </div>
    </section>

    <section class="util-tile section-brands">
      <div class="section-header">
        <h2 class="title">Популярные бренды</h2>
        <a href="/brands" class="link">Смотреть все</a>
      </div>
      <div class="tiles">
        &hellip;
      </div>
    </section>
  </div>
</Layout>
