---
import Layout from '../layouts/Layout.astro';
import UtilTile from '../components/UtilTile.astro';
import SliderProducts from '../components/SliderProducts.astro';

import type {IBanner, IProductGroup, INewsItem, IReview, IBrand} from '../interfaces';

import data from '../data/index.json';

const largeBanners: IBanner[] = data.largeBanners;
const smallBanners: IBanner[] = data.smallBanners;
const productGroups: IProductGroup[] = data.productGroups;
const news: INewsItem[] = data.news;
const reviews: IReview[] = data.reviews;
const brands: IBrand[] = data.brands;
---

<Layout title="Главная" page="index" isUser={false}>
  <link rel="stylesheet" href="./pages/index.css"/>
  <div class="page-wrapper">
    <UtilTile tag="section" classList={['section-info']} dataArray={[]} isHidden={false}>
      <h1>AirSoft-RUS.ru — интернет магазин для страйкболиста №1 в России</h1>
      <p>
        В продаже широкий выбор страйкбольного оружия (автоматы АК и М-серий, винтовки, пулеметы, пистолеты, дробовики,
        гранатометы), снаряжения и экипировки для игр. Ассортимент от дешевых приводов для новичков до премиальных
        моделей для опытных страйкеров.
      </p>
      <p>
        Вы можете купить страйкбольные товары от 30+ брендов: Cyma, LCT, East Crane,
        Tokyo Marui, KWC, WE, Acrturus и др. Постоянное обновление ассортимента. Порадуйте себя новой покупкой или
        сделайте подарок любителю страйкбола, вручив подарочный сертификат от "синего магазина" (доступны номиналы от
        1000 до 50000 рублей).
      </p>
      <p>
        AirSoft-RUS — это не только интернет-магазин. Наши филиалы открыты в Москве,
        Екатеринбурге, Санкт-Петербурге, Краснодаре и Нижнем Новгороде. Будем рады видеть вас в шоу-румах: там можно
        лично посмотреть все наши товары для страйкбола и проконсультироваться у опытных продавцов.
      </p>
      <p>
        Оплатить заказ можно
        онлайн (с помощью банковской карты) или при получении товара (наличными и безналичным методом). Доступна
        рассрочка и покупка в кредит.
      </p>
      <p>
        Доставку снаряжения можно заказать курьером или забрать самостоятельно: из наших
        магазинов или с широкой сети пунктов выдачи партнеров. Действует бесплатная доставка в 11 городов России.
      </p>
    </UtilTile>

    <section class="section-banners">
      <div class="large-banners">
        <div class="swiper-wrapper">
          {largeBanners.map((banner: IBanner) => (
            <a href={banner.link} class="swiper-slide banner large-banner">
              <img src={banner.img} alt={banner.title} class="img" decoding="async" loading="lazy"/>
            </a>
          ))}
        </div>
      </div>
      <div class="small-banners">
        <div class="swiper-wrapper">
          {smallBanners.map((banner: IBanner) => (
            <a href={banner.link} class="swiper-slide banner small-banner">
              <img src={banner.img} alt={banner.title} class="img" decoding="async" loading="lazy"/>
            </a>
          ))}
        </div>
      </div>
    </section>

    {productGroups.map((group: IProductGroup) => (
      <section class="section-products">
        <SliderProducts products={group.products} title={group.title}/>
        <a href={group.link} class="util-button index button">
          <span>Показать всё</span>
        </a>
        <a href={group.banner.link} class="banner">
          <img src={group.banner.img} alt={group.banner.title} class="img" width="344" height="62"
               decoding="async" loading="lazy"/>
        </a>
      </section>
    ))}

    <UtilTile tag="section" classList={['section-news']} dataArray={[]} isHidden={false}>
      <div class="section-header">
        <h2 class="title">Актуальные новости</h2>
        <a href="/news" class="link">Смотреть все</a>
      </div>
      <div class="items">
        {news.map((newsItem: INewsItem) => (
          <a href={newsItem.link} class="item">
            <span class="date">{newsItem.date}</span>
            <span class="name">{newsItem.title}</span>
          </a>
        ))}
      </div>
    </UtilTile>

    <UtilTile tag="section" classList={['section-reviews']} dataArray={[]} isHidden={false}>
      <div class="section-header">
        <h2 class="title">Последние обзоры</h2>
        <a href="/reviews" class="link">Смотреть все</a>
      </div>
      <div class="items">
        <div class="swiper-wrapper">
          {reviews.map((review: IReview) => (
            <a href={review.link} class="swiper-slide item">
              <img src={review.img} alt={review.title} class="img" decoding="async" loading="lazy"/>
              <span class="name">{review.title}</span>
            </a>
          ))}
        </div>
      </div>
    </UtilTile>

    <UtilTile tag="section" classList={['section-brands']} dataArray={[]} isHidden={false}>
      <div class="section-header">
        <h2 class="title">Популярные бренды</h2>
        <a href="/brands" class="link">Смотреть все</a>
      </div>
      <div class="items">
        {brands.map((brand: IBrand) => (
          <a href={brand.link} class="item">
            <img src={brand.img} alt={brand.title} width={brand.width} height={brand.height}
                 decoding="async" loading="lazy"/>
          </a>
        ))}
      </div>
    </UtilTile>
  </div>
  <script src="./pages/index.js" is:inline async></script>
</Layout>
