---
import Layout from '../layouts/Layout.astro';
import UtilTile from '../components/UtilTile.astro';
import SectionHeader from '../components/SectionHeader.astro';
import SliderProducts from '../components/SliderProducts.astro';
import SliderNews from '../components/SliderNews.astro';
import ItemNews from '../components/ItemNews.astro';

import type {IBanner, IProductGroup, IItemNews, IIndexBrand, IIndex} from '../interfaces';

import data from '../pages/index.json';

const {largeBanners, smallBanners, productGroups, news, reviews, brands}: IIndex = data;
---

<Layout title="Главная" page="index" isUser={false}>
  <link rel="stylesheet" href="./pages/index.css"/>
  <div class="page-wrapper">
    <UtilTile tag="section" classList={['section-info', 'mt1']} isHidden={false}>
      <h1>AirSoft-RUS.ru — интернет магазин для страйкболиста №1 в России</h1>
      <p>
        В продаже широкий выбор страйкбольного оружия (автоматы АК и М-серий, винтовки, пулеметы, пистолеты, дробовики,
        гранатометы), снаряжения и экипировки для игр. Ассортимент от дешевых приводов для новичков до премиальных
        моделей для опытных страйкеров.
      </p>
      <p>
        Вы можете купить страйкбольные товары от 30+ брендов: Cyma, LCT, East Crane,
        Tokyo Marui, KWC, WE, Acrturus и др. Постоянное обновление ассортимента. Порадуйте себя новой покупкой или
        сделайте подарок любителю страйкбола, вручив подарочный сертификат от "синего магазина" (доступны номиналы от
        1000 до 50000 рублей).
      </p>
      <p>
        AirSoft-RUS — это не только интернет-магазин. Наши филиалы открыты в Москве,
        Екатеринбурге, Санкт-Петербурге, Краснодаре и Нижнем Новгороде. Будем рады видеть вас в шоу-румах: там можно
        лично посмотреть все наши товары для страйкбола и проконсультироваться у опытных продавцов.
      </p>
      <p>
        Оплатить заказ можно
        онлайн (с помощью банковской карты) или при получении товара (наличными и безналичным методом). Доступна
        рассрочка и покупка в кредит.
      </p>
      <p>
        Доставку снаряжения можно заказать курьером или забрать самостоятельно: из наших
        магазинов или с широкой сети пунктов выдачи партнеров. Действует бесплатная доставка в 11 городов России.
      </p>
    </UtilTile>

    <section class="section-banners">
      <div class="large-banners">
        <div class="swiper-wrapper">
          {largeBanners.map(({img, link, title}: IBanner) => (
            <a href={link} class="swiper-slide banner large-banner">
              <img src={img} alt={title} class="img" decoding="async" loading="lazy"/>
            </a>
          ))}
        </div>
      </div>
      <div class="small-banners">
        <div class="swiper-wrapper">
          {smallBanners.map(({img, link, title}: IBanner) => (
            <a href={link} class="swiper-slide banner small-banner">
              <img src={img} alt={title} class="img" decoding="async" loading="lazy"/>
            </a>
          ))}
        </div>
      </div>
    </section>

    {productGroups.map(({banner, link, products, title}: IProductGroup) => (
      <section class="section-products">
        <SliderProducts products={products} title={title}/>
        <a href={link} class="util-button button">
          <span>Показать всё</span>
        </a>
        <a href={banner.link} class="banner">
          <img src={banner.img} alt={banner.title} width="344" height="62" class="img" decoding="async" loading="lazy"/>
        </a>
      </section>
    ))}

    <UtilTile tag="section" classList={['section-news']} isHidden={false}>
      <SectionHeader title="Актуальные новости" link="/news"/>
      <div class="items">
        {news.map((item: IItemNews) => (
          <ItemNews item={item}/>
        ))}
      </div>
    </UtilTile>

    <SliderNews classList={['section-reviews']} title="Последние обзоры" link="/reviews" items={reviews}/>

    <UtilTile tag="section" classList={['section-brands']} isHidden={false}>
      <SectionHeader title="Популярные бренды" link="/brands"/>
      <div class="items">
        {brands.map(({height, img, link, name, width}: IIndexBrand) => (
          <a href={link} class="item">
            <img src={img} alt={name} width={width} height={height} class="img" decoding="async" loading="lazy"/>
          </a>
        ))}
      </div>
    </UtilTile>
  </div>
  <script src="./pages/index.js" is:inline async></script>
</Layout>
