---
import Layout from '../layouts/Layout.astro';
import UtilTile from '../components/UtilTile.astro';

const largeBanners: { title: string, link: string, img: string }[] = [
  {title: '1', link: '/catalog', img: './content/index-banners-primary.png'},
  {title: '2', link: '/catalog', img: './content/index-banners-primary.png'},
  {title: '3', link: '/catalog', img: './content/index-banners-primary.png'},
];
const smallBanners: { title: string, link: string, img: string }[] = [
  {title: '1', link: '/catalog', img: './content/index-banners-small.png'},
  {title: '2', link: '/catalog', img: './content/index-banners-small.png'},
  {title: '3', link: '/catalog', img: './content/index-banners-small.png'},
  {title: '4', link: '/catalog', img: './content/index-banners-small.png'},
  {title: '5', link: '/catalog', img: './content/index-banners-small.png'},
  {title: '6', link: '/catalog', img: './content/index-banners-small.png'},
  {title: '7', link: '/catalog', img: './content/index-banners-small.png'},
  {title: '8', link: '/catalog', img: './content/index-banners-small.png'},
  {title: '9', link: '/catalog', img: './content/index-banners-small.png'},
  {title: '10', link: '/catalog', img: './content/index-banners-small.png'},
];
const productItems: {
  title: string,
  link: string,
  products: {
    id: number,
    link: string,
    img: string,
    title: string,
    rating: number,
    oldPrice: number,
    price: number
  }[],
  banner: { title: string, link: string, img: string }
}[] = [
  {
    title: 'Распродажа',
    link: '/catalog',
    products: [
      {
        id: 1,
        link: '/catalog-detail',
        img: './content/catalog-product-1.png',
        title: 'Автомат Суmа AKC-74Y CM035',
        rating: 4.5,
        oldPrice: 26390,
        price: 26390,
      },
      {
        id: 2,
        link: '/catalog-detail',
        img: './content/catalog-product-2.png',
        title: 'Автомат Суmа AKC-74Y CM035',
        rating: 3,
        oldPrice: 16800,
        price: 16800,
      },
      {
        id: 3,
        link: '/catalog-detail',
        img: './content/catalog-product-3.png',
        title: 'Пистолет Cyma GRACH AEP EBB (CM136S)',
        rating: 5,
        oldPrice: 26390,
        price: 26390,
      },
      {
        id: 4,
        link: '/catalog-detail',
        img: './content/catalog-product-1.png',
        title: 'Автомат Суmа AKC-74Y CM035',
        rating: 4.5,
        oldPrice: 26390,
        price: 26390,
      },

      {
        id: 5,
        link: '/catalog-detail',
        img: './content/catalog-product-2.png',
        title: 'Автомат Суmа AKC-74Y CM035',
        rating: 3,
        oldPrice: 21800,
        price: 16800,
      },
      {
        id: 6,
        link: '/catalog-detail',
        img: './content/catalog-product-3.png',
        title: 'Пистолет Cyma GRACH AEP EBB (CM136S)',
        rating: 5,
        oldPrice: 26390,
        price: 16800,
      },
      {
        id: 7,
        link: '/catalog-detail',
        img: './content/catalog-product-1.png',
        title: 'Автомат Суmа AKC-74Y CM035',
        rating: 4.5,
        oldPrice: 26390,
        price: 26390,
      },
      {
        id: 8,
        link: '/catalog-detail',
        img: './content/catalog-product-2.png',
        title: 'Автомат Суmа AKC-74Y CM035',
        rating: 3,
        oldPrice: 21800,
        price: 16800,
      },

      {
        id: 9,
        link: '/catalog-detail',
        img: './content/catalog-product-3.png',
        title: 'Пистолет Cyma GRACH AEP EBB (CM136S)',
        rating: 5,
        oldPrice: 26390,
        price: 26390,
      },
      {
        id: 10,
        link: '/catalog-detail',
        img: './content/catalog-product-1.png',
        title: 'Автомат Суmа AKC-74Y CM035',
        rating: 4.5,
        oldPrice: 26390,
        price: 26390,
      },
    ],
    banner: {
      title: '',
      link: '/catalog',
      img: './content/index-products-banner.png',
    },
  },
  {
    title: 'Новинки',
    link: '/catalog',
    products: [
      {
        id: 5,
        link: '/catalog-detail',
        img: './content/catalog-product-2.png',
        title: 'Автомат Суmа AKC-74Y CM035',
        rating: 3,
        oldPrice: 21800,
        price: 16800,
      },
      {
        id: 6,
        link: '/catalog-detail',
        img: './content/catalog-product-3.png',
        title: 'Пистолет Cyma GRACH AEP EBB (CM136S)',
        rating: 5,
        oldPrice: 26390,
        price: 16800,
      },
      {
        id: 7,
        link: '/catalog-detail',
        img: './content/catalog-product-1.png',
        title: 'Автомат Суmа AKC-74Y CM035',
        rating: 4.5,
        oldPrice: 26390,
        price: 26390,
      },
      {
        id: 8,
        link: '/catalog-detail',
        img: './content/catalog-product-2.png',
        title: 'Автомат Суmа AKC-74Y CM035',
        rating: 3,
        oldPrice: 21800,
        price: 16800,
      },

      {
        id: 11,
        link: '/catalog-detail',
        img: './content/catalog-product-2.png',
        title: 'Автомат Суmа AKC-74Y CM035',
        rating: 3,
        oldPrice: 21800,
        price: 16800,
      },
      {
        id: 12,
        link: '/catalog-detail',
        img: './content/catalog-product-3.png',
        title: 'Пистолет Cyma GRACH AEP EBB (CM136S)',
        rating: 5,
        oldPrice: 26390,
        price: 26390,
      },

      {
        id: 13,
        link: '/catalog-detail',
        img: './content/catalog-product-3.png',
        title: 'Пистолет Cyma GRACH AEP EBB (CM136S)',
        rating: 5,
        oldPrice: 26390,
        price: 26390,
      },
      {
        id: 14,
        link: '/catalog-detail',
        img: './content/catalog-product-1.png',
        title: 'Автомат Суmа AKC-74Y CM035',
        rating: 4.5,
        oldPrice: 26390,
        price: 26390,
      },
      {
        id: 15,
        link: '/catalog-detail',
        img: './content/catalog-product-2.png',
        title: 'Автомат Суmа AKC-74Y CM035',
        rating: 3,
        oldPrice: 21800,
        price: 16800,
      },
      {
        id: 16,
        link: '/catalog-detail',
        img: './content/catalog-product-3.png',
        title: 'Пистолет Cyma GRACH AEP EBB (CM136S)',
        rating: 5,
        oldPrice: 26390,
        price: 26390,
      },
    ],
    banner: {
      title: '',
      link: '/catalog',
      img: './content/index-products-banner.png',
    },
  },
  {
    title: 'Хиты продаж',
    link: '/catalog',
    products: [
      {
        id: 5,
        link: '/catalog-detail',
        img: './content/catalog-product-2.png',
        title: 'Автомат Суmа AKC-74Y CM035',
        rating: 3,
        oldPrice: 21800,
        price: 16800,
      },
      {
        id: 6,
        link: '/catalog-detail',
        img: './content/catalog-product-3.png',
        title: 'Пистолет Cyma GRACH AEP EBB (CM136S)',
        rating: 5,
        oldPrice: 26390,
        price: 16800,
      },
      {
        id: 7,
        link: '/catalog-detail',
        img: './content/catalog-product-1.png',
        title: 'Автомат Суmа AKC-74Y CM035',
        rating: 4.5,
        oldPrice: 26390,
        price: 26390,
      },
      {
        id: 8,
        link: '/catalog-detail',
        img: './content/catalog-product-2.png',
        title: 'Автомат Суmа AKC-74Y CM035',
        rating: 3,
        oldPrice: 21800,
        price: 16800,
      },

      {
        id: 11,
        link: '/catalog-detail',
        img: './content/catalog-product-2.png',
        title: 'Автомат Суmа AKC-74Y CM035',
        rating: 3,
        oldPrice: 21800,
        price: 16800,
      },
      {
        id: 12,
        link: '/catalog-detail',
        img: './content/catalog-product-3.png',
        title: 'Пистолет Cyma GRACH AEP EBB (CM136S)',
        rating: 5,
        oldPrice: 26390,
        price: 26390,
      },

      {
        id: 13,
        link: '/catalog-detail',
        img: './content/catalog-product-3.png',
        title: 'Пистолет Cyma GRACH AEP EBB (CM136S)',
        rating: 5,
        oldPrice: 26390,
        price: 26390,
      },
      {
        id: 14,
        link: '/catalog-detail',
        img: './content/catalog-product-1.png',
        title: 'Автомат Суmа AKC-74Y CM035',
        rating: 4.5,
        oldPrice: 26390,
        price: 26390,
      },
      {
        id: 15,
        link: '/catalog-detail',
        img: './content/catalog-product-2.png',
        title: 'Автомат Суmа AKC-74Y CM035',
        rating: 3,
        oldPrice: 21800,
        price: 16800,
      },
      {
        id: 16,
        link: '/catalog-detail',
        img: './content/catalog-product-3.png',
        title: 'Пистолет Cyma GRACH AEP EBB (CM136S)',
        rating: 5,
        oldPrice: 26390,
        price: 26390,
      },
    ],
    banner: {
      title: '',
      link: '/catalog',
      img: './content/index-products-banner.png',
    },
  },
  {
    title: 'Рекомендуем',
    link: '/catalog',
    products: [
      {
        id: 5,
        link: '/catalog-detail',
        img: './content/catalog-product-2.png',
        title: 'Автомат Суmа AKC-74Y CM035',
        rating: 3,
        oldPrice: 21800,
        price: 16800,
      },
      {
        id: 6,
        link: '/catalog-detail',
        img: './content/catalog-product-3.png',
        title: 'Пистолет Cyma GRACH AEP EBB (CM136S)',
        rating: 5,
        oldPrice: 26390,
        price: 16800,
      },
      {
        id: 7,
        link: '/catalog-detail',
        img: './content/catalog-product-1.png',
        title: 'Автомат Суmа AKC-74Y CM035',
        rating: 4.5,
        oldPrice: 26390,
        price: 26390,
      },
      {
        id: 8,
        link: '/catalog-detail',
        img: './content/catalog-product-2.png',
        title: 'Автомат Суmа AKC-74Y CM035',
        rating: 3,
        oldPrice: 21800,
        price: 16800,
      },

      {
        id: 11,
        link: '/catalog-detail',
        img: './content/catalog-product-2.png',
        title: 'Автомат Суmа AKC-74Y CM035',
        rating: 3,
        oldPrice: 21800,
        price: 16800,
      },
      {
        id: 12,
        link: '/catalog-detail',
        img: './content/catalog-product-3.png',
        title: 'Пистолет Cyma GRACH AEP EBB (CM136S)',
        rating: 5,
        oldPrice: 26390,
        price: 26390,
      },

      {
        id: 13,
        link: '/catalog-detail',
        img: './content/catalog-product-3.png',
        title: 'Пистолет Cyma GRACH AEP EBB (CM136S)',
        rating: 5,
        oldPrice: 26390,
        price: 26390,
      },
      {
        id: 14,
        link: '/catalog-detail',
        img: './content/catalog-product-1.png',
        title: 'Автомат Суmа AKC-74Y CM035',
        rating: 4.5,
        oldPrice: 26390,
        price: 26390,
      },
      {
        id: 15,
        link: '/catalog-detail',
        img: './content/catalog-product-2.png',
        title: 'Автомат Суmа AKC-74Y CM035',
        rating: 3,
        oldPrice: 21800,
        price: 16800,
      },
      {
        id: 16,
        link: '/catalog-detail',
        img: './content/catalog-product-3.png',
        title: 'Пистолет Cyma GRACH AEP EBB (CM136S)',
        rating: 5,
        oldPrice: 26390,
        price: 26390,
      },
    ],
    banner: {
      title: '',
      link: '/catalog',
      img: './content/index-products-banner.png',
    },
  },
];
const news: { title: string, link: string, date: string }[] = [
  {title: 'График работы магазина в летние праздники 2025', link: '/news-detail', date: '06.06.2025'},
  {title: 'График работы магазина в летние праздники 2025', link: '/news-detail', date: '06.06.2025'},
  {title: 'График работы магазина в летние праздники 2025', link: '/news-detail', date: '06.06.2025'},
];
const reviews: { title: string, link: string, img: string }[] = [
  {title: 'Обзор автомата AK-105 от Cyma', link: '/reviews', img: './content/review.png'},
  {title: 'Обзор автомата AK-105 от Cyma 2', link: '/reviews', img: './content/review.png'},
  {title: 'Обзор автомата AK-105 от Cyma 3', link: '/reviews', img: './content/review.png'},
];
const brands: { title: string, link: string, img: string, width: number, height: number }[] = [
  {title: '1', link: '/catalog', img: './content/brand-1.png', width: 40, height: 40},
  {title: '2', link: '/catalog', img: './content/brand-2.png', width: 30, height: 30},
  {title: '3', link: '/catalog', img: './content/brand-3.png', width: 50, height: 50},
  {title: '4', link: '/catalog', img: './content/brand-4.png', width: 40, height: 40},
  {title: '5', link: '/catalog', img: './content/brand-5.png', width: 30, height: 30},
  {title: '6', link: '/catalog', img: './content/brand-6.png', width: 30, height: 30},
  {title: '7', link: '/catalog', img: './content/brand-7.png', width: 35, height: 35},
  {title: '8', link: '/catalog', img: './content/brand-8.png', width: 30, height: 30},
  {title: '9', link: '/catalog', img: './content/brand-9.png', width: 30, height: 34},
];
---

<Layout title="Главная" page="index" isUser={false}>
  <link rel="stylesheet" href="./pages/index.css"/>
  <div class="page-wrapper">
    <UtilTile tag="section" classList={['section-info']} dataArray={[]} isHidden={false}>
      <h1>AirSoft-RUS.ru — интернет магазин для страйкболиста №1 в России</h1>
      <p>
        В продаже широкий выбор страйкбольного оружия (автоматы АК и М-серий, винтовки, пулеметы, пистолеты, дробовики,
        гранатометы), снаряжения и экипировки для игр. Ассортимент от дешевых приводов для новичков до премиальных
        моделей для опытных страйкеров.
      </p>
      <p>
        Вы можете купить страйкбольные товары от 30+ брендов: Cyma, LCT, East Crane,
        Tokyo Marui, KWC, WE, Acrturus и др. Постоянное обновление ассортимента. Порадуйте себя новой покупкой или
        сделайте подарок любителю страйкбола, вручив подарочный сертификат от "синего магазина" (доступны номиналы от
        1000 до 50000 рублей).
      </p>
      <p>
        AirSoft-RUS — это не только интернет-магазин. Наши филиалы открыты в Москве,
        Екатеринбурге, Санкт-Петербурге, Краснодаре и Нижнем Новгороде. Будем рады видеть вас в шоу-румах: там можно
        лично посмотреть все наши товары для страйкбола и проконсультироваться у опытных продавцов.
      </p>
      <p>
        Оплатить заказ можно
        онлайн (с помощью банковской карты) или при получении товара (наличными и безналичным методом). Доступна
        рассрочка и покупка в кредит.
      </p>
      <p>
        Доставку снаряжения можно заказать курьером или забрать самостоятельно: из наших
        магазинов или с широкой сети пунктов выдачи партнеров. Действует бесплатная доставка в 11 городов России.
      </p>
    </UtilTile>

    <section class="section-banners">
      <div class="large-banners">
        <div class="swiper-wrapper">
          {largeBanners.map((item: { title: string, link: string, img: string }) => (
            <a href={item.link} class="swiper-slide banner large-banner">
              <img src={item.img} alt={item.title} class="img"/>
            </a>
          ))}
        </div>
      </div>
      <div class="small-banners">
        <div class="swiper-wrapper">
          {smallBanners.map((item: { title: string, link: string, img: string }) => (
            <a href={item.link} class="swiper-slide banner small-banner">
              <img src={item.img} alt={item.title} class="img"/>
            </a>
          ))}
        </div>
      </div>
    </section>

    {productItems.map((item: {
      title: string,
      link: string,
      products: {
        id: number,
        link: string,
        img: string,
        title: string,
        rating: number,
        oldPrice: number,
        price: number
      }[],
      banner: { title: string, link: string, img: string }
    }) => (
      <section class="section-products">
        <h2 class="title">{item.title}</h2>
        <div class="tiles">
          <div class="swiper-wrapper">
            {item.products.map((product: {
              id: number,
              link: string,
              img: string,
              title: string,
              rating: number,
              oldPrice: number,
              price: number,
            }) => (
              <UtilTile tag="div" classList={['swiper-slide', 'product']} dataArray={[]} isHidden={false}>
                <div>
                  <a href={product.link} class="link">
                    <img src={product.img} alt={product.title} class="img"/>
                    <span class="name">{product.title}</span>
                  </a>
                </div>
                <div>
                  <input type="range" min="0.1" max="5" step="0.1" class="rating" aria-label="Рейтинг" readonly
                         value={product.rating} style={`--val: ${product.rating}`}/>
                </div>
                <div>
                  {product.oldPrice !== product.price && (
                    <div class="old">
                      <span class="price">
                        {product.oldPrice.toLocaleString('ru-RU')} руб.
                      </span>
                      <span class="discount">
                        -{(product.oldPrice - product.price).toLocaleString('ru-RU')}
                      </span>
                    </div>
                  )}
                </div>
                <div>
                  <div class="bottom">
                    <span class="price">
                      {product.price.toLocaleString('ru-RU')}
                    </span>
                    <span class="currency">₽</span>
                    <button type="button" class="cart" data-catalog-cart-add={product.id}>
                      <svg class="svg" width="22" height="22" viewBox="0 0 24 25" xmlns="http://www.w3.org/2000/svg">
                        <path stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"
                              d="M18.3289 18.9701C16.9529 18.9701 15.8373 20.0856 15.8373 21.4617C15.8373 22.8377 16.9529 23.9533 18.3289 23.9533C19.705 23.9533 20.8205 22.8377 20.8205 21.4617C20.8205 20.0856 19.705 18.9701 18.3289 18.9701ZM18.3289 18.9701H8.72871C8.15432 18.9701 7.8666 18.9701 7.63012 18.8679C7.42151 18.7777 7.24052 18.6326 7.10866 18.4475C6.96087 18.24 6.90142 17.9626 6.78376 17.4135L3.71752 3.10431C3.59712 2.54244 3.53611 2.26181 3.3866 2.05195C3.25474 1.86686 3.07379 1.72118 2.86518 1.63102C2.62865 1.52881 2.34253 1.52881 1.7679 1.52881H0.887695M4.62511 5.26622H20.6626C21.5618 5.26622 22.0109 5.26622 22.3127 5.45354C22.5771 5.61761 22.7706 5.87494 22.855 6.17441C22.9513 6.5163 22.8276 6.94801 22.5784 7.81196L20.8534 13.7918C20.7044 14.3084 20.6299 14.5662 20.4787 14.7579C20.3452 14.927 20.1693 15.0595 19.9697 15.1408C19.7443 15.2326 19.4765 15.2326 18.942 15.2326H6.78093M7.11671 23.9533C5.74064 23.9533 4.62511 22.8377 4.62511 21.4617C4.62511 20.0856 5.74064 18.9701 7.11671 18.9701C8.49279 18.9701 9.60832 20.0856 9.60832 21.4617C9.60832 22.8377 8.49279 23.9533 7.11671 23.9533Z"/>
                      </svg>
                    </button>
                  </div>
                </div>
              </UtilTile>
            ))}
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <a href={item.link} class="button">
          <span>Показать всё</span>
        </a>
        <a href={item.banner.link} class="banner">
          <img src={item.banner.img} alt={item.banner.title} class="img" width="344" height="62"/>
        </a>
      </section>
    ))}

    <UtilTile tag="section" classList={['section-news']} dataArray={[]} isHidden={false}>
      <div class="section-header">
        <h2 class="title">Актуальные новости</h2>
        <a href="/news" class="link">Смотреть все</a>
      </div>
      <div class="items">
        {news.map((item: { title: string, link: string, date: string }) => (
          <a href={item.link} class="item">
            <span class="date">{item.date}</span>
            <span class="name">{item.title}</span>
          </a>
        ))}
      </div>
    </UtilTile>

    <UtilTile tag="section" classList={['section-reviews']} dataArray={[]} isHidden={false}>
      <div class="section-header">
        <h2 class="title">Последние обзоры</h2>
        <a href="/reviews" class="link">Смотреть все</a>
      </div>
      <div class="items">
        <div class="swiper-wrapper">
          {reviews.map((item: { title: string, link: string, img: string }) => (
            <a href={item.link} class="swiper-slide item">
              <img src={item.img} alt={item.title} class="img"/>
              <span class="name">{item.title}</span>
            </a>
          ))}
        </div>
      </div>
    </UtilTile>

    <UtilTile tag="section" classList={['section-brands']} dataArray={[]} isHidden={false}>
      <div class="section-header">
        <h2 class="title">Популярные бренды</h2>
        <a href="/brands" class="link">Смотреть все</a>
      </div>
      <div class="items">
        {brands.map((item: { title: string, link: string, img: string, width: number, height: number }) => (
          <a href={item.link} class="item">
            <img src={item.img} alt={item.title} width={item.width} height={item.height}/>
          </a>
        ))}
      </div>
    </UtilTile>
  </div>
  <script src="./pages/index.js" is:inline async></script>
</Layout>
