---
import Layout from '../layouts/Layout.astro';
import UtilHeader from '../components/UtilHeader.astro';
import SectionNews from '../components/SectionNews.astro';
import SectionPagination from '../components/SectionPagination.astro';

import type {INewsTile} from '../interfaces';

import data from '../pages/news.json';

const news: INewsTile[] = data.news;
const lastPage: number = data.lastPage;
const currentPage: number = 1;

const title: string = 'Новости';
const link: string = '/news';
---

<Layout title="Новости" page="news" isUser={true}>
  <link rel="stylesheet" href="./pages/news.css"/>
  <div class="page-wrapper">

    <UtilHeader type="page" title={title}/>

    <SectionNews news={news}/>

    {1 < lastPage &&
      <SectionPagination currentPage={currentPage} lastPage={lastPage} baseLink={link}/>}
  </div>
</Layout>
