---
import Layout from '../layouts/Layout.astro';
import UtilHeader from '../components/UtilHeader.astro';
import OrderSummary from '../components/OrderSummary.astro';
import OrderBonuses from '../components/OrderBonuses.astro';
import OrderCertificate from '../components/OrderCertificate.astro';
import OrderComment from '../components/OrderComment.astro';
import OrderPayment from '../components/OrderPayment.astro';
import OrderDelivery from '../components/OrderDelivery.astro';
import OrderCity from '../components/OrderCity.astro';
import OrderPersonal from '../components/OrderPersonal.astro';

import type {IOrder, IOrderDelivery, IUser} from '../interfaces.ts';

import data from '../pages/order.json';

const {personal, city, deliveries, deliveryId, payments, paymentId, comment, certificate, bonuses}: IOrder = data.order;

const user: IUser = data.user;
const amount: {
  old: number;
  discount: number;
} = data.amount;

const title: string = 'Оформление заказа';
const link: string = '/order';
const root: string = 'cart';

let delivery: number = 0;

if (deliveryId) {
  const deliveryChecked: IOrderDelivery | undefined = deliveries.find(
    (delivery: IOrderDelivery): boolean => delivery.id === deliveryId);

  delivery = deliveryChecked ? deliveryChecked.price : 0;
}

const discount: number = amount.discount + bonuses + certificate.sum;
const total: number = amount.old - discount + delivery;
---

<Layout title="Оформление заказа" page="order" isUser={true} withoutHeader={true}>
  <link rel="stylesheet" href="./pages/order.css"/>
  <div class="page-wrapper">
    <UtilHeader type="page" title={title} link={root}/>

    <section class="tiles">
      <OrderPersonal personal={personal}/>
      <OrderCity city={city.trim()}/>
      <OrderDelivery deliveries={deliveries} deliveryId={deliveryId}/>
      <OrderPayment payments={payments} paymentId={paymentId}/>
      <OrderComment comment={comment.trim()}/>
      <OrderCertificate code={certificate.code.trim()}/>
      <OrderBonuses balance={user ? user.balance : 0} bonuses={bonuses}/>
      <OrderSummary old={amount.old} discount={discount} delivery={delivery} total={total}/>
    </section>
  </div>

  <div class="loader" hidden></div>
</Layout>
