---
import Layout from '../layouts/Layout.astro';
import UtilHeader from '../components/UtilHeader.astro';
import UtilTile from '../components/UtilTile.astro';

const title: string = 'Оплата';
---

<Layout title="Оплата" page="payments" isUser={true}>
  <link rel="stylesheet" href="./pages/payments.css"/>
  <div class="page-wrapper">
    <UtilHeader type="page" title={title}/>

    <UtilTile tag="section" classList={['section']} isHidden={false}>
      &hellip;
    </UtilTile>

    <UtilTile tag="section" classList={['section']} isHidden={false}>
      &hellip;
    </UtilTile>

    <UtilTile tag="section" classList={['section']} isHidden={false}>
      &hellip;
    </UtilTile>

    <UtilTile tag="section" classList={['section']} isHidden={false}>
      &hellip;
    </UtilTile>

    <UtilTile tag="section" classList={['section']} isHidden={false}>
      &hellip;
    </UtilTile>

    <UtilTile tag="section" classList={['section']} isHidden={false}>
      &hellip;
    </UtilTile>
  </div>
</Layout>
