---
import Layout from '../layouts/Layout.astro';
import UtilHeader from '../components/UtilHeader.astro';
import UtilTile from '../components/UtilTile.astro';
import SectionPagination from '../components/SectionPagination.astro';
import TileOrder from '../components/TileOrder.astro';

import type {IUser, IOrderTile, IPayment} from '../interfaces';

import data from '../pages/profile.json';

const {tel, firstName, middleName, lastName, email, amount, balance}: IUser = data.user;
const payments: IPayment[] = data.payments;
const orders: IOrderTile[] = data.orders;
const lastPage: number = data.lastPage;
const currentPage: number = 1;

const title: string = 'Личный кабинет';
const link: string = '/profile';
---

<Layout title="Профиль" page="profile" isUser={true} userInfo={data.user}>
  <link rel="stylesheet" href="./pages/profile.css"/>
  <div class="page-wrapper">
    <UtilHeader type="profile" title={title}/>

    {1 === currentPage && (
      <UtilTile tag="section" classList={['section']} isHidden={false}>
        <div class="info">
          <span class="primary title">{tel}</span>
        </div>
        <button type="button" class="button" data-popup-open="profile-tel">
          <span>Изменить</span>
        </button>
      </UtilTile>

      <UtilTile tag="section" classList={['section']} isHidden={false}>
        <div class="info">
          <span class="primary title">{lastName} {firstName} {middleName}</span>
          <span class="primary text">{email}</span>
        </div>
        <button type="button" class="button" data-popup-open="profile-name">
          <span>Изменить</span>
        </button>
      </UtilTile>

      <UtilTile tag="section" classList={['section']} isHidden={false}>
        <div class="info">
          <span class="primary title">{amount.toLocaleString('ru-RU')} руб.</span>
          <span class="third text">Общая сумма заказов</span>
        </div>
        <div class="info">
          <span class="secondary title">{balance.toLocaleString('ru-RU')} руб.</span>
          <span class="secondary text">Бонусов на счету</span>
        </div>
      </UtilTile>
    )}

    <UtilTile tag="section" classList={['section-orders']} isHidden={false}>
      <div class="orders-title">История заказов</div>
      <div class="orders" data-page-items>
        {orders.map((order: IOrderTile) => (
          <TileOrder order={order} payments={payments}/>
        ))}
      </div>
    </UtilTile>

    {1 < lastPage &&
      <SectionPagination currentPage={currentPage} lastPage={lastPage} baseLink={link}/>}
  </div>

  {0 < orders.length && (
    <div slot="page-footer" class="payments-backdrop" data-payments-backdrop hidden>
      <div class="payments" data-payments data-order-id="">
        <div class="payments-header">
          <span>Изменить способ оплаты</span>
        </div>
        <div class="payments-main">
          {payments.map((payment: IPayment) => (
            <button type="button" class="payment" data-payment-id-new={payment.id}>
              <span class="text">{payment.name}</span>
              <img src={payment.img} alt="" class="img" decoding="async" loading="lazy"/>
            </button>
          ))}
        </div>
      </div>
    </div>
  )}
  <script src="./pages/profile.js" is:inline async></script>
</Layout>
