---
import Layout from '../layouts/Layout.astro';
import PageTitle from '../components/PageTitle.astro';
import SectionBreadcrumbs from '../components/SectionBreadcrumbs.astro';
import SectionFilters from '../components/SectionFilters.astro';
import SectionProducts from '../components/SectionProducts.astro';
import SectionPagination from '../components/SectionPagination.astro';

import type {IProductTile, ILink, IPopupFilter} from '../interfaces';

import data from '../data/search.json';

const products: IProductTile[] = data.products;

const title: string = 'Результаты поиска по запросу';
const link: string = '/search?q=123';
const filters: string = ''; // &...

const breadcrumbs: ILink[] = [{link: '/catalog', name: 'Каталог'}];

breadcrumbs.push({link: link, name: title});

const popupFilter: IPopupFilter = {
  action: link,
  filter: data.filter,
  minPriceValue: 20,  // TODO from url
  maxPriceValue: 80,  // TODO from url
};
---

<Layout title="Поиск" page="search" popupFilter={popupFilter} isUser={true}>
  <link rel="stylesheet" href="./pages/search.css"/>
  <div class="page-wrapper">
    <SectionBreadcrumbs pages={breadcrumbs}/>

    <PageTitle title={title}/>

    <SectionFilters link={link + '&'} filters={filters}/>

    <SectionProducts products={products}/>

    <SectionPagination/>
  </div>
  <script src="./pages/search.js" is:inline async></script>
</Layout>
