---
import Layout from '../layouts/Layout.astro';
import PageTitle from '../components/PageTitle.astro';
import SectionBreadcrumbs from '../components/SectionBreadcrumbs.astro';
import SectionFilters from '../components/SectionFilters.astro';
import SectionProducts from '../components/SectionProducts.astro';
import SectionPagination from '../components/SectionPagination.astro';

import type {IProductTile, ILink, IPopupFilter, IOption} from '../interfaces';

import data from '../pages/search.json';

const products: IProductTile[] = data.products;

const title: string = 'Результаты поиска по запросу';
const link: string = '/search?q=123';

const breadcrumbs: ILink[] = [
  {link: '/catalog', name: 'Каталог'},
  {link, name: title},
];

const currentPage: number = 1; // TODO pages
const lastPage: number = 2;

const popupFilter: IPopupFilter = {
  action: link,
  filter: data.filter,
};
---

<Layout title="Поиск" page="search" popupFilter={popupFilter} isUser={true}>
  <link rel="stylesheet" href="./pages/search.css"/>
  <div class="page-wrapper">
    <SectionBreadcrumbs pages={breadcrumbs}/>

    <PageTitle title={title}/>

    <SectionFilters/>

    <SectionProducts products={products}/>

    {1 < lastPage &&
      <SectionPagination currentPage={currentPage} lastPage={lastPage} baseLink={link}/>}
  </div>
  <script src="./pages/search.js" is:inline async></script>
</Layout>
