---
import type {IFilterCheckbox, IFilterGroup} from '../interfaces';

interface Props {
  group: IFilterGroup;
}

const {group}: Props = Astro.props;

const {title, checkboxes}: IFilterGroup = group;
---

<div class="filters-form-group">
  <link rel="stylesheet" href="./components/filters-group.css"/>
  <div class="filters-form-group-header title">{title}</div>

  <div class="filters-form-group-main">
    {checkboxes.map(({label, name}: IFilterCheckbox) => (
      <div class="filters-form-group-checkbox">
        <input type="checkbox" id={name} name={name} value="Y"/>
        <label for={name}>{label}</label>
      </div>
    ))}
  </div>

  <div class="filters-form-group-footer">&hellip;</div>

  <script src="./components/filters-group.js" is:inline async></script>
</div>
