---
import UtilTile from '../components/UtilTile.astro';
import TileOrderGrid from '../components/TileOrderGrid.astro';
import TileOrderGridEdit from '../components/TileOrderGridEdit.astro';

import type {IOrderPayment} from '../interfaces.ts';

interface Props {
  payments: IOrderPayment[];
  paymentId: number | null;
}

const {payments, paymentId}: Props = Astro.props;
---

<UtilTile tag="div" classList={['grid', 'order-payment']}>
  <h2 class="h2">Выберите способ оплаты</h2>

  <form action="/api-order-payment" novalidate data-form-order-payment>
    <div class="form-grid">
      {payments.map(({id, title, img, imgChecked, info, bonus}: IOrderPayment) => (
        <TileOrderGrid type="payment" id={id} title={title} img={img} imgChecked={imgChecked} info={info}
                       isChecked={id === paymentId}>
          <div class="payment-text">{0 < bonus ? `Будет начислено:` : ''}</div>
          <div class="payment-bonus">{0 < bonus ? `${bonus} руб.` : ''}</div>
        </TileOrderGrid>
      ))}
      <TileOrderGridEdit type="payment"/>
    </div>
    <div data-tile-sample hidden>
      <TileOrderGrid type="payment" id={0} title="" img="" imgChecked="" info="" isChecked={false}>
        <div class="payment-text">Будет начислено:</div>
        <div class="payment-bonus"></div>
      </TileOrderGrid>
    </div>
    <button type="submit" hidden>Применить</button>
  </form>

  <script src="./components/order-payment.js" is:inline async></script>
</UtilTile>
