---
import UtilTile from '../components/UtilTile.astro';

import type {IOrderCity} from '../interfaces.ts';

interface Props {
  city: IOrderCity;
}

const {city}: Props = Astro.props;

const {code, name, path, country}: IOrderCity = city;

const action: string = '/api-order-city';
const actionSearch: string = '/api-order-cities-search';
---

<UtilTile tag="div" classList={['rows', 'order-city']}>
  <link rel="stylesheet" href="./components/order-city.css"/>

  <div class="order-header">
    <h2 class="h2">Ваш город</h2>
  </div>

  <pre>
    {code} {name} {country}
    {actionSearch}
  </pre>

  <form class="form" action={action} novalidate data-form-order-city>
    <input type="text" name="city" id="city" maxlength="256" value={path}
           autocorrect="off" spellcheck="false"
           class="util-form-field strong low input"
           data-input-order-city
           placeholder="Введите ваш город" aria-label="Ваш город"/>
    <button type="submit" hidden>Применить</button>
  </form>

  <script src="./components/order-city.js" is:inline async></script>
</UtilTile>
