---
import UtilTile from '../components/UtilTile.astro';
import TileOrderGrid from '../components/TileOrderGrid.astro';
import TileOrderGridEdit from '../components/TileOrderGridEdit.astro';

import type {IOrderPayment} from '../interfaces.ts';

interface Props {
  payments: IOrderPayment[];
}

const {payments}: Props = Astro.props;
---

<UtilTile tag="div" classList={['grid', 'order-payment']}>
  <h2 class="h2">Выберите способ оплаты</h2>

  <form action="/api-order-payment" novalidate data-form-order-payment
        data-order-payment-reload-action="/api-order-payment-reload">
    <div class="form-grid">
      {payments.map(({id, name, img, imgChecked, info, bonus}: IOrderPayment) => (
        <TileOrderGrid type="payment" id={id} name={name} img={img} imgChecked={imgChecked} info={info}>
          {0 < bonus ? (
            <div class="payment-text">Будет начислено:</div>
            <div class="payment-bonus">{bonus} руб.</div>
          ) : (
            <div></div>
            <div></div>
          )}
        </TileOrderGrid>
      ))}
      <TileOrderGridEdit type="payment"/>
    </div>
    <button type="submit" hidden>Применить</button>
  </form>

  <script src="./components/order-payment.js" is:inline async></script>
</UtilTile>
