---
import UtilTile from '../components/UtilTile.astro';
import InputTel from '../components/InputTel.astro';

import type {IOrderPersonal} from '../interfaces.ts';

interface Props {
  personal: IOrderPersonal;
}

const {personal}: Props = Astro.props;

const {phone, firstName, middleName, lastName, email}: IOrderPersonal = personal;

const condition: boolean = 0 < phone.length || 0 < firstName.length || 0 < middleName.length || 0 < lastName.length || 0 < email.length;
---

<UtilTile tag="div" classList={['rows', 'order-personal']}>
  <link rel="stylesheet" href="./components/order-personal.css"/>

  <div class="order-header">
    <h2 class="h2">Личные данные</h2>
    <button type="button" class="button" data-order-personal-form-open>
      <span data-order-personal-form-add hidden={condition}>Добавить</span>
      <span data-order-personal-form-edit hidden={!condition}>Изменить</span>
    </button>
    <button type="button" class="button" data-order-personal-form-close hidden>
      <span>Закрыть</span>
    </button>
  </div>

  <div class="info" data-order-personal-output hidden={!condition}>
    <div class="full-name" data-info-name>{`${lastName} ${firstName} ${middleName}`}</div>
    <div class="phone" data-info-phone>{phone}</div>
    <div class="email" data-info-email>{email}</div>
  </div>

  <form class="form" action="/api-order-personal" novalidate data-form-order-personal hidden>

    <InputTel label="Телефон" name="phone" classList={['low']} value={phone}/>

    <div class="util-form-fieldset fieldset">
      <label class="label" for="last-name">Фамилия</label>
      <input type="text" name="last-name" id="last-name" maxlength="256" value={lastName}
             autocorrect="off" spellcheck="false"
             class="util-form-field low input"/>
    </div>
    <div class="util-form-fieldset fieldset">
      <label class="label" for="first-name">Имя</label>
      <input type="text" name="first-name" id="first-name" maxlength="256" value={firstName}
             autocorrect="off" spellcheck="false"
             class="util-form-field low input"/>
    </div>
    <div class="util-form-fieldset fieldset">
      <label class="label" for="middle-name">Отчество</label>
      <input type="text" name="middle-name" id="middle-name" maxlength="256" value={middleName}
             autocorrect="off" spellcheck="false"
             class="util-form-field low input"/>
    </div>
    <div class="util-form-fieldset fieldset">
      <label class="label" for="email">E-mail</label>
      <input type="email" name="email" id="email" maxlength="256" value={email}
             inputmode="email" autocomplete="email" autocorrect="off" autocapitalize="off" spellcheck="false"
             class="util-form-field low input"/>
    </div>
    <button type="submit" class="util-button primary button">
      <span>Применить и сохранить</span>
    </button>
  </form>

  <script src="./components/order-personal.js" is:inline async></script>
</UtilTile>
