---
import UtilTile from '../components/UtilTile.astro';
import TileOrderGrid from '../components/TileOrderGrid.astro';
import TileOrderGridEdit from '../components/TileOrderGridEdit.astro';
import OrderDelivery1 from '../components/OrderDelivery1.astro';
import OrderDelivery2 from '../components/OrderDelivery2.astro';

import type {IOrderDelivery} from '../interfaces.ts';

interface Props {
  deliveries: IOrderDelivery[];
  deliveryId: number | null;
}

const {deliveries, deliveryId}: Props = Astro.props;
---

<UtilTile tag="div" classList={['grid', 'order-delivery']}>
  <h2 class="h2">Выберите способ доставки</h2>

  <form action="/api-order-delivery" novalidate data-form-order-delivery hidden
        data-order-delivery-reload-action="/api-order-delivery-reload">
    <div class="form-grid">
      {deliveries.map(({id, title, img, imgChecked, info, price, days}: IOrderDelivery) => (
        <TileOrderGrid type="delivery" id={id} title={title} img={img} imgChecked={imgChecked} info={info}
                       isChecked={id === deliveryId}>
          <div class="delivery-text">
            <div class="l">Стоимость:</div>
            <div class="r">{price} руб.</div>
            <div class="l">Кол. дней:</div>
            <div class="r">{days}</div>
          </div>
        </TileOrderGrid>
      ))}
      <TileOrderGridEdit type="delivery"/>
    </div>

    <button type="submit" hidden>Применить</button>

    <OrderDelivery1/>
    <OrderDelivery2/>
  </form>

  <script src="./components/order-delivery.js" is:inline async></script>
</UtilTile>
