---
import Popup from '../components/Popup.astro';
import FiltersPrices from '../components/FiltersPrices.astro';
import FiltersSwitch from '../components/FiltersSwitch.astro';
import FiltersGroup from '../components/FiltersGroup.astro';

import type {IFilter, IFilterCheckbox, IFilterGroup, IPopupFilter} from '../interfaces';

interface Props {
  popupFilter: IPopupFilter;
}

const {popupFilter}: Props = Astro.props;

const {action, filter}: IPopupFilter = popupFilter;
const {minPrice, maxPrice, switches, groups}: IFilter = filter;
---

<Popup name="filters" title="Фильтры" bgLight={true}>
  <link rel="stylesheet" href="./components/popup-filters.css"/>

  <form class="popup-filters" action={action} novalidate data-form-filters>
    <div class="filters-form-group">
      <FiltersPrices minPrice={minPrice} maxPrice={maxPrice}/>
    </div>

    {switches.map((checkbox: IFilterCheckbox) => (
      <div class="filters-form-group">
        <FiltersSwitch checkbox={checkbox}/>
      </div>
    ))}

    {groups.map((group: IFilterGroup) => (
      <div class="filters-form-group">
        <FiltersGroup group={group}/>
      </div>
    ))}
  </form>

  <div class="filters-buttons-wrapper" slot="popup-footer">
    <button type="button" class="util-button primary button" data-submit-form-filters>
      <span>Применить</span>
    </button>
  </div>

  <script src="./components/popup-filters.js" is:inline async></script>
</Popup>
