---
import Popup from '../components/Popup.astro';
import UtilTile from '../components/UtilTile.astro';
import InputTel from '../components/InputTel.astro';
import InputCode from '../components/InputCode.astro';

import type {IUser} from '../interfaces';

interface Props {
  userInfo: IUser;
}

const {userInfo}: Props = Astro.props;

const {tel}: IUser = userInfo;
---

<Popup name="profile-tel" title="Изменение&nbsp;номера" bgLight={false}>
  <link rel="stylesheet" href="./components/popup-login.css"/>
  <div class="popup-login">
    <UtilTile tag="div" classList={['step']} dataArray={['data-popup-login-step="1"']} isHidden={false}>
      <form class="form-login" action="/api-change-tel-tg" novalidate data-form-login-phone>
        <InputTel label="Новый номер" name="phone" classList={['strong', 'high']} value={tel}/>
        <button type="submit" class="util-button primary button">
          <span>Подтвердить через Telegram</span>
        </button>
      </form>
      <button class="util-button secondary back" data-popup-login-cancel>
        <span>Отмена</span>
      </button>
    </UtilTile>

    <UtilTile tag="div" classList={['step']} dataArray={['data-popup-login-step="2"']} isHidden={true}>
      <form class="form-login" action="/api-change-tel-code" novalidate data-form-login-code>
        <InputCode classList={['strong', 'high']}/>
        <button type="submit" class="util-button primary button">
          <span>Отправить и выполнить вход</span>
        </button>
      </form>
      <button class="util-button secondary back" data-popup-login-back>
        <span>Вернуться назад</span>
      </button>
    </UtilTile>

    <button type="button" class="another-login" data-popup-login-another-way>
      <span>Подтвердить другим способом</span>
    </button>
  </div>
  <script src="./components/popup-login.js" is:inline async></script>
</Popup>
