---
import Popup from '../components/Popup.astro';
import UtilTile from '../components/UtilTile.astro';

import type {IUser} from '../interfaces';

interface Props {
  userInfo: IUser;
}

const {userInfo}: Props = Astro.props;

const {firstName, middleName, lastName, email}: IUser = userInfo;
---

<Popup name="profile-name" title="Личные данные" bgLight={false}>
  <link rel="stylesheet" href="./components/popup-profile-name.css"/>
  <div class="popup-profile-name">
    <UtilTile tag="div" classList={['step']} isHidden={false}>
      <form class="form-profile-name" action="/api-profile-name" novalidate data-form-profile-name>
        <div class="util-form-fieldset fieldset">
          <label class="label" for="last-name">Фамилия</label>
          <input type="text" name="last-name" id="last-name" maxlength="256" value={lastName}
                 autocorrect="off" spellcheck="false"
                 class="util-form-field low input"/>
        </div>
        <div class="util-form-fieldset fieldset">
          <label class="label" for="first-name">Имя</label>
          <input type="text" name="first-name" id="first-name" maxlength="256" value={firstName}
                 autocorrect="off" spellcheck="false"
                 class="util-form-field low input"/>
        </div>
        <div class="util-form-fieldset fieldset">
          <label class="label" for="middle-name">Отчество</label>
          <input type="text" name="middle-name" id="middle-name" maxlength="256" value={middleName}
                 autocorrect="off" spellcheck="false"
                 class="util-form-field low input"/>
        </div>
        <div class="util-form-fieldset fieldset">
          <label class="label" for="email">E-Mail</label>
          <input type="email" name="email" id="email" maxlength="256" value={email}
                 inputmode="email" autocomplete="email" autocorrect="off" spellcheck="false"
                 class="util-form-field low input"/>
        </div>
        <button type="submit" class="util-button primary button">
          <span>Сохранить и применить</span>
        </button>
      </form>
      <button class="util-button secondary back" data-popup-profile-name-cancel>
        <span>Отмена</span>
      </button>
    </UtilTile>
  </div>
  <script src="./components/popup-profile-name.js" is:inline async></script>
</Popup>
