---
import Popup from '../components/Popup.astro';
import UtilTile from '../components/UtilTile.astro';

const firstName: 'Иван' = 'Иван';
const middleName: 'Иванович' = 'Иванович';
const lastName: 'Иванов' = 'Иванов';
const email: 'airsoftrus@gmail.com' = 'airsoftrus@gmail.com';
---

<Popup name="profile-name" title="Личные данные" bgLight={false}>
  <link rel="stylesheet" href="./components/popup-profile-name.css"/>
  <div class="popup-profile-name">
    <UtilTile tag="div" classList={['step']} dataArray={[]} isHidden={false}>
      <form class="form-profile-name" action="/profile-name" novalidate data-form-profile-name>
        <div class="fieldset">
          <label class="label" for="last-name">Фамилия</label>
          <input type="text" name="last-name" id="last-name" class="input" maxlength="256" value={lastName}
                 autocorrect="off" spellcheck="false"
                 placeholder="Ваш текст"
          />
        </div>
        <div class="fieldset">
          <label class="label" for="first-name">Имя</label>
          <input type="text" name="first-name" id="first-name" class="input" maxlength="256" value={firstName}
                 autocorrect="off" spellcheck="false"
                 placeholder="Ваш текст"
          />
        </div>
        <div class="fieldset">
          <label class="label" for="middle-name">Отчество</label>
          <input type="text" name="middle-name" id="middle-name" class="input" maxlength="256" value={middleName}
                 autocorrect="off" spellcheck="false"
                 placeholder="Ваш текст"
          />
        </div>
        <div class="fieldset">
          <label class="label" for="email">E-Mail</label>
          <input type="email" name="email" id="email" class="input" maxlength="256" value={email}
                 inputmode="email" autocomplete="email" autocorrect="off" spellcheck="false"
                 placeholder="Ваш текст"
          />
        </div>
        <button type="submit" class="util-button primary button">
          <span>Сохранить и применить</span>
        </button>
      </form>
      <button class="util-button secondary back" data-popup-profile-name-cancel>
        <span>Отмена</span>
      </button>
    </UtilTile>
  </div>
  <script src="./components/popup-profile-name.js" is:inline async></script>
</Popup>
