---
import UtilTile from '../components/UtilTile.astro';
import Rating from '../components/Rating.astro';

import type {IProductTile} from '../interfaces';

interface Props {
  product: IProductTile;
  isSlider: boolean;
}

const {product, isSlider}: Props = Astro.props;

const {id, link, img, name, rating, price, oldPrice, inCart}: IProductTile = product;

const classList: string[] = ['product'];

if (isSlider) classList.push('swiper-slide');
---

<UtilTile tag="div" classList={classList}>
  <link rel="stylesheet" href="./components/product-tile.css"/>
  <div>
    <a href={link} class="link">
      <img src={img} alt="" class="img" decoding="async" loading="lazy"/>
      <span class="name">{name}</span>
    </a>
  </div>
  <div>
    <Rating value={rating} className="tile"/>
  </div>
  <div>
    {oldPrice !== price && (
      <div class="old">
        <span class="price">
          {oldPrice.toLocaleString('ru-RU')} руб.
        </span>
        <span class="discount">
          -{(oldPrice - price).toLocaleString('ru-RU')}
        </span>
      </div>
    )}
  </div>
  <div>
    <div class="bottom">
      <span class="price">{price.toLocaleString('ru-RU')}</span>
      <span class="currency">₽</span>
      {inCart ? (
        <a href="/cart" class="cart in-cart" data-cart-in={id}>
          <svg class="svg" width="22" height="22" viewBox="0 0 24 25" xmlns="http://www.w3.org/2000/svg">
            <path stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"
                  d="M18.3289 18.9701C16.9529 18.9701 15.8373 20.0856 15.8373 21.4617C15.8373 22.8377 16.9529 23.9533 18.3289 23.9533C19.705 23.9533 20.8205 22.8377 20.8205 21.4617C20.8205 20.0856 19.705 18.9701 18.3289 18.9701ZM18.3289 18.9701H8.72871C8.15432 18.9701 7.8666 18.9701 7.63012 18.8679C7.42151 18.7777 7.24052 18.6326 7.10866 18.4475C6.96087 18.24 6.90142 17.9626 6.78376 17.4135L3.71752 3.10431C3.59712 2.54244 3.53611 2.26181 3.3866 2.05195C3.25474 1.86686 3.07379 1.72118 2.86518 1.63102C2.62865 1.52881 2.34253 1.52881 1.7679 1.52881H0.887695M4.62511 5.26622H20.6626C21.5618 5.26622 22.0109 5.26622 22.3127 5.45354C22.5771 5.61761 22.7706 5.87494 22.855 6.17441C22.9513 6.5163 22.8276 6.94801 22.5784 7.81196L20.8534 13.7918C20.7044 14.3084 20.6299 14.5662 20.4787 14.7579C20.3452 14.927 20.1693 15.0595 19.9697 15.1408C19.7443 15.2326 19.4765 15.2326 18.942 15.2326H6.78093M7.11671 23.9533C5.74064 23.9533 4.62511 22.8377 4.62511 21.4617C4.62511 20.0856 5.74064 18.9701 7.11671 18.9701C8.49279 18.9701 9.60832 20.0856 9.60832 21.4617C9.60832 22.8377 8.49279 23.9533 7.11671 23.9533Z"/>
          </svg>
        </a>
      ) : (
        <button type="button" class="cart to-cart" data-cart-add={id}>
          <svg class="svg" width="22" height="22" viewBox="0 0 24 25" xmlns="http://www.w3.org/2000/svg">
            <path stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"
                  d="M18.3289 18.9701C16.9529 18.9701 15.8373 20.0856 15.8373 21.4617C15.8373 22.8377 16.9529 23.9533 18.3289 23.9533C19.705 23.9533 20.8205 22.8377 20.8205 21.4617C20.8205 20.0856 19.705 18.9701 18.3289 18.9701ZM18.3289 18.9701H8.72871C8.15432 18.9701 7.8666 18.9701 7.63012 18.8679C7.42151 18.7777 7.24052 18.6326 7.10866 18.4475C6.96087 18.24 6.90142 17.9626 6.78376 17.4135L3.71752 3.10431C3.59712 2.54244 3.53611 2.26181 3.3866 2.05195C3.25474 1.86686 3.07379 1.72118 2.86518 1.63102C2.62865 1.52881 2.34253 1.52881 1.7679 1.52881H0.887695M4.62511 5.26622H20.6626C21.5618 5.26622 22.0109 5.26622 22.3127 5.45354C22.5771 5.61761 22.7706 5.87494 22.855 6.17441C22.9513 6.5163 22.8276 6.94801 22.5784 7.81196L20.8534 13.7918C20.7044 14.3084 20.6299 14.5662 20.4787 14.7579C20.3452 14.927 20.1693 15.0595 19.9697 15.1408C19.7443 15.2326 19.4765 15.2326 18.942 15.2326H6.78093M7.11671 23.9533C5.74064 23.9533 4.62511 22.8377 4.62511 21.4617C4.62511 20.0856 5.74064 18.9701 7.11671 18.9701C8.49279 18.9701 9.60832 20.0856 9.60832 21.4617C9.60832 22.8377 8.49279 23.9533 7.11671 23.9533Z"/>
          </svg>
        </button>
        <a href="/cart" class="cart in-cart" hidden data-cart-in={id}>
          <svg class="svg" width="22" height="22" viewBox="0 0 24 25" xmlns="http://www.w3.org/2000/svg">
            <path stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"
                  d="M18.3289 18.9701C16.9529 18.9701 15.8373 20.0856 15.8373 21.4617C15.8373 22.8377 16.9529 23.9533 18.3289 23.9533C19.705 23.9533 20.8205 22.8377 20.8205 21.4617C20.8205 20.0856 19.705 18.9701 18.3289 18.9701ZM18.3289 18.9701H8.72871C8.15432 18.9701 7.8666 18.9701 7.63012 18.8679C7.42151 18.7777 7.24052 18.6326 7.10866 18.4475C6.96087 18.24 6.90142 17.9626 6.78376 17.4135L3.71752 3.10431C3.59712 2.54244 3.53611 2.26181 3.3866 2.05195C3.25474 1.86686 3.07379 1.72118 2.86518 1.63102C2.62865 1.52881 2.34253 1.52881 1.7679 1.52881H0.887695M4.62511 5.26622H20.6626C21.5618 5.26622 22.0109 5.26622 22.3127 5.45354C22.5771 5.61761 22.7706 5.87494 22.855 6.17441C22.9513 6.5163 22.8276 6.94801 22.5784 7.81196L20.8534 13.7918C20.7044 14.3084 20.6299 14.5662 20.4787 14.7579C20.3452 14.927 20.1693 15.0595 19.9697 15.1408C19.7443 15.2326 19.4765 15.2326 18.942 15.2326H6.78093M7.11671 23.9533C5.74064 23.9533 4.62511 22.8377 4.62511 21.4617C4.62511 20.0856 5.74064 18.9701 7.11671 18.9701C8.49279 18.9701 9.60832 20.0856 9.60832 21.4617C9.60832 22.8377 8.49279 23.9533 7.11671 23.9533Z"/>
          </svg>
        </a>
      )}
    </div>
  </div>
  <script src="./components/product-tile.js" is:inline async></script>
</UtilTile>
