---
import UtilTile from '../components/UtilTile.astro';

import type {INewsTile} from '../interfaces';

interface Props {
  news: INewsTile;
}

const {news}: Props = Astro.props;

const {link, img, name, date}: INewsTile = news;

const classList: string[] = ['news'];
---

<UtilTile tag="div" classList={classList} isHidden={false}>
  <link rel="stylesheet" href="./components/tile-news.css"/>
  <a href={link} class="top-link">
    <img src={img} alt="" class="img" decoding="async" loading="lazy"/>
    <span class="name">{name}</span>
  </a>
  <div class="date">{date}</div>
  <div class="bottom-link">
    <a href={link} class="details">Подробнее</a>
  </div>
</UtilTile>
