---
import UtilTile from '../components/UtilTile.astro';

import type {ICartPosition} from '../interfaces';

interface Props {
  position: ICartPosition;
}

const {position}: Props = Astro.props;
const {cartId, productId, productName, quantity, quantityMax, price, priceOld, img}: ICartPosition = position;

const economy: number = (priceOld - price) * quantity;
const sum: number = price * quantity;
const sumOld: number = priceOld * quantity;

const dataArray: string[] = [
  `data-product-id="${productId}"`,
  `data-position-id="${cartId}"`,
  `data-position-price="${price}"`,
  `data-position-price-old="${priceOld}"`,
  `data-position-quantity-max="${quantityMax}"`,
];
---

<UtilTile tag="div" classList={['tile-position']} dataArray={dataArray}>
  <link rel="stylesheet" href="./components/tile-position.css"/>

  <div class="position-in" data-position-in>
    <div class="left">
      <button type="button" class="remove" title="Удалить позицию из корзины" data-position-remove>
        <img src="./images/position-del.png" alt="" class="del" width="20" height="20"/>
      </button>
      <img src={img} alt="" class="cover" decoding="async" loading="lazy"/>
    </div>
    <div class="right">
      <div class="name">{productName}</div>
      <div class="interactive">
        <div class="buttons">
          <button type="button" class="button minus" title="Уменьшить количество" data-position-minus></button>
          <input type="text" name="quantity" aria-label="Количество" maxlength="4" class="quantity" value={quantity}
                 inputmode="numeric" autocomplete="off" autocorrect="off" spellcheck="false" data-position-quantity/>
          <button type="button" class="button plus" title="Увеличить количество" data-position-plus></button>
        </div>
        <div class="prices">
          {price < priceOld && (
            <div class="sum-old">
              <span data-position-sum-old>{sumOld.toLocaleString('ru-RU')}</span> ₽
            </div>
          )}
          <div class="sum">
            <span data-position-sum>{sum.toLocaleString('ru-RU')}</span> ₽
          </div>
        </div>
      </div>
      {0 < economy && (
        <div class="economy">Экономия <strong>
          <span data-position-sum-discount>{economy.toLocaleString('ru-RU')}</span> ₽
        </strong></div>
      )}
    </div>
  </div>

  <div class="position-out" data-position-out hidden>
    <button type="button" class="destroy" title="Удалить позицию окончательно" data-position-destroy>
      <img src="./images/position-del.png" alt="" class="del" width="20" height="20"/>
    </button>
    <div class="text">
      <div class="name">{productName}</div>
      <div class="info">был удален из корзины</div>
    </div>
    <button type="button" class="button" data-position-restore>Восстановить</button>
  </div>

  <script src="./components/tile-position.js" is:inline async></script>
</UtilTile>
