---
interface Props {
  type: 'page' | 'popup' | 'profile';
  title: string;
  link?: string;
}

const {type, title, link = '/'}: Props = Astro.props;
---

{'popup' === type ? (
<div class:list={['util-header', `type-${type}`]}>
  <link rel="stylesheet" href="./components/util-header.css"/>
  <h2 class="title">{title}</h2>
  <button type="button" class="util-link" data-popup-close>
    <span>Отмена</span>
  </button>
</div>
  ) : (
<section class:list={['util-header', `type-${type}`]}>
  <link rel="stylesheet" href="./components/util-header.css"/>
  <h1 class="title">{title}</h1>

  {'page' === type &&
    <a href={link} class="util-link">
      <span>Назад</span>
    </a>}

  {'profile' === type &&
    <button type="button" class="util-link" data-button-logout-to="/">
      <span>Выход</span>
    </button>}

</section>
  )}
