---
import Header from '../components/Header.astro';
import Popups from '../components/Popups.astro';
import Footer from '../components/Footer.astro';
import Container from '../components/Container.astro';
import Scripts from '../components/Scripts.astro';

import type {IPopupFilter, IUser} from '../interfaces';

interface Props {
  title: string;
  page: string;
  isUser: boolean;
  userInfo?: IUser;
  popupFilter?: IPopupFilter;
}

const {title, page, isUser, userInfo, popupFilter}: Props = Astro.props;
---

<!DOCTYPE html>
<html lang="ru" class="layout">
<head>
  <meta charset="UTF-8"/>
  <meta name="description" content=""/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <link rel="icon" type="image/svg+xml" href="./favicon.svg"/>
  <title>{title}</title>
  <link rel="stylesheet" href="./layouts/plugins/modern-normalize.css"/>
  <link rel="stylesheet" href="./layouts/plugins/intlTelInput/css/intlTelInput.css"/>
  <link rel="stylesheet" href="./layouts/plugins/swiper/swiper-bundle.min.css"/>
  <link rel="stylesheet" href="./layouts/layout.css"/>
</head>
<body>
<div id="app">
  <Header/>
  <main class:list={['main', page]}>
    <Container>
      <slot/>
    </Container>
    <div class="page-footer">
      <Container className="edge">
        <slot name="page-footer"/>
      </Container>
    </div>
  </main>
  <Popups isUser={isUser} page={page} userInfo={userInfo} popupFilter={popupFilter}/>
  <Footer isUser={isUser}/>
</div>
<Scripts/>
</body>
</html>
